.form-control {
  display: block;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,0.6);
}
.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999;
}
.form-control::-webkit-input-placeholder {
  color: #999;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eeeeee;
  opacity: 1;
}
textarea.form-control {
  height: auto;
}
@font-face {
  font-family: 'IcoMoon';
  src: url('../fonts/IcoMoon.eot');
  src: url('../fonts/IcoMoon.eot?#iefix') format('embedded-opentype'), url('../fonts/IcoMoon.woff') format('woff'), url('../fonts/IcoMoon.ttf') format('truetype'), url('../fonts/IcoMoon.svg#IcoMoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: 'IcoMoon';
  content: attr(data-icon);
  speak: none;
}
[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: .25em;
  line-height: 14px;
  background-image: none;
}
dd > span[class^="icon-"] + time,
dd > span[class*=" icon-"] + time {
  margin-left: -0.25em;
}
dl.article-info dd.hits span[class^="icon-"],
dl.article-info dd.hits span[class*=" icon-"] {
  margin-right: 0;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'IcoMoon';
  font-style: normal;
  speak: none;
}
[class^="icon-"].disabled,
[class*=" icon-"].disabled {
  font-weight: normal;
}
.icon-joomla:before {
  content: "\e200";
}
.icon-chevron-up:before,
.icon-uparrow:before,
.icon-arrow-up:before {
  content: "\e005";
}
.icon-chevron-right:before,
.icon-rightarrow:before,
.icon-arrow-right:before {
  content: "\e006";
}
.icon-chevron-down:before,
.icon-downarrow:before,
.icon-arrow-down:before {
  content: "\e007";
}
.icon-chevron-left:before,
.icon-leftarrow:before,
.icon-arrow-left:before {
  content: "\e008";
}
.icon-arrow-first:before {
  content: "\e003";
}
.icon-arrow-last:before {
  content: "\e004";
}
.icon-arrow-up-2:before {
  content: "\e009";
}
.icon-arrow-right-2:before {
  content: "\e00a";
}
.icon-arrow-down-2:before {
  content: "\e00b";
}
.icon-arrow-left-2:before {
  content: "\e00c";
}
.icon-arrow-up-3:before {
  content: "\e00f";
}
.icon-arrow-right-3:before {
  content: "\e010";
}
.icon-arrow-down-3:before {
  content: "\e011";
}
.icon-arrow-left-3:before {
  content: "\e012";
}
.icon-menu-2:before {
  content: "\e00e";
}
.icon-arrow-up-4:before {
  content: "\e201";
}
.icon-arrow-right-4:before {
  content: "\e202";
}
.icon-arrow-down-4:before {
  content: "\e203";
}
.icon-arrow-left-4:before {
  content: "\e204";
}
.icon-share:before,
.icon-redo:before {
  content: "\27";
}
.icon-undo:before {
  content: "\28";
}
.icon-forward-2:before {
  content: "\e205";
}
.icon-backward-2:before,
.icon-reply:before {
  content: "\e206";
}
.icon-unblock:before,
.icon-refresh:before,
.icon-redo-2:before {
  content: "\6c";
}
.icon-undo-2:before {
  content: "\e207";
}
.icon-move:before {
  content: "\7a";
}
.icon-expand:before {
  content: "\66";
}
.icon-contract:before {
  content: "\67";
}
.icon-expand-2:before {
  content: "\68";
}
.icon-contract-2:before {
  content: "\69";
}
.icon-play:before {
  content: "\e208";
}
.icon-pause:before {
  content: "\e209";
}
.icon-stop:before {
  content: "\e210";
}
.icon-previous:before,
.icon-backward:before {
  content: "\7c";
}
.icon-next:before,
.icon-forward:before {
  content: "\7b";
}
.icon-first:before {
  content: "\7d";
}
.icon-last:before {
  content: "\e000";
}
.icon-play-circle:before {
  content: "\e00d";
}
.icon-pause-circle:before {
  content: "\e211";
}
.icon-stop-circle:before {
  content: "\e212";
}
.icon-backward-circle:before {
  content: "\e213";
}
.icon-forward-circle:before {
  content: "\e214";
}
.icon-loop:before {
  content: "\e001";
}
.icon-shuffle:before {
  content: "\e002";
}
.icon-search:before {
  content: "\53";
}
.icon-zoom-in:before {
  content: "\64";
}
.icon-zoom-out:before {
  content: "\65";
}
.icon-apply:before,
.icon-edit:before,
.icon-pencil:before {
  content: "\2b";
}
.icon-pencil-2:before {
  content: "\2c";
}
.icon-brush:before {
  content: "\3b";
}
.icon-save-new:before,
.icon-plus-2:before {
  content: "\5d";
}
.icon-ban-circle:before,
.icon-minus-sign:before,
.icon-minus-2:before {
  content: "\5e";
}
.icon-delete:before,
.icon-remove:before,
.icon-cancel-2:before {
  content: "\49";
}
.icon-publish:before,
.icon-save:before,
.icon-ok:before,
.icon-checkmark:before {
  content: "\47";
}
.icon-new:before,
.icon-plus:before {
  content: "\2a";
}
.icon-plus-circle:before {
  content: "\e215";
}
.icon-minus:before,
.icon-not-ok:before {
  content: "\4b";
}
.icon-minus-circle:before {
  content: "\e216";
}
.icon-unpublish:before,
.icon-cancel:before {
  content: "\4a";
}
.icon-cancel-circle:before {
  content: "\e217";
}
.icon-checkmark-2:before {
  content: "\e218";
}
.icon-checkmark-circle:before {
  content: "\e219";
}
.icon-info:before {
  content: "\e220";
}
.icon-info-2:before,
.icon-info-circle:before {
  content: "\e221";
}
.icon-question:before,
.icon-question-sign:before,
.icon-help:before {
  content: "\45";
}
.icon-question-2:before,
.icon-question-circle:before {
  content: "\e222";
}
.icon-notification:before {
  content: "\e223";
}
.icon-notification-2:before,
.icon-notification-circle:before {
  content: "\e224";
}
.icon-pending:before,
.icon-warning:before {
  content: "\48";
}
.icon-warning-2:before,
.icon-warning-circle:before {
  content: "\e225";
}
.icon-checkbox-unchecked:before {
  content: "\3d";
}
.icon-checkin:before,
.icon-checkbox:before,
.icon-checkbox-checked:before {
  content: "\3e";
}
.icon-checkbox-partial:before {
  content: "\3f";
}
.icon-square:before {
  content: "\e226";
}
.icon-radio-unchecked:before {
  content: "\e227";
}
.icon-radio-checked:before,
.icon-generic:before {
  content: "\e228";
}
.icon-circle:before {
  content: "\e229";
}
.icon-signup:before {
  content: "\e230";
}
.icon-grid:before,
.icon-grid-view:before {
  content: "\58";
}
.icon-grid-2:before,
.icon-grid-view-2:before {
  content: "\59";
}
.icon-menu:before {
  content: "\5a";
}
.icon-list:before,
.icon-list-view:before {
  content: "\31";
}
.icon-list-2:before {
  content: "\e231";
}
.icon-menu-3:before {
  content: "\e232";
}
.icon-folder-open:before,
.icon-folder:before {
  content: "\2d";
}
.icon-folder-close:before,
.icon-folder-2:before {
  content: "\2e";
}
.icon-folder-plus:before {
  content: "\e234";
}
.icon-folder-minus:before {
  content: "\e235";
}
.icon-folder-3:before {
  content: "\e236";
}
.icon-folder-plus-2:before {
  content: "\e237";
}
.icon-folder-remove:before {
  content: "\e238";
}
.icon-file:before {
  content: "\e016";
}
.icon-file-2:before {
  content: "\e239";
}
.icon-file-add:before,
.icon-file-plus:before {
  content: "\29";
}
.icon-file-remove:before,
.icon-file-minus:before {
  content: "\e017";
}
.icon-file-check:before {
  content: "\e240";
}
.icon-file-remove:before {
  content: "\e241";
}
.icon-save-copy:before,
.icon-copy:before {
  content: "\e018";
}
.icon-stack:before {
  content: "\e242";
}
.icon-tree:before {
  content: "\e243";
}
.icon-tree-2:before {
  content: "\e244";
}
.icon-paragraph-left:before {
  content: "\e246";
}
.icon-paragraph-center:before {
  content: "\e247";
}
.icon-paragraph-right:before {
  content: "\e248";
}
.icon-paragraph-justify:before {
  content: "\e249";
}
.icon-screen:before {
  content: "\e01c";
}
.icon-tablet:before {
  content: "\e01d";
}
.icon-mobile:before {
  content: "\e01e";
}
.icon-box-add:before {
  content: "\51";
}
.icon-box-remove:before {
  content: "\52";
}
.icon-download:before {
  content: "\e021";
}
.icon-upload:before {
  content: "\e022";
}
.icon-home:before {
  content: "\21";
}
.icon-home-2:before {
  content: "\e250";
}
.icon-out-2:before,
.icon-new-tab:before {
  content: "\e024";
}
.icon-out-3:before,
.icon-new-tab-2:before {
  content: "\e251";
}
.icon-link:before {
  content: "\e252";
}
.icon-picture:before,
.icon-image:before {
  content: "\2f";
}
.icon-pictures:before,
.icon-images:before {
  content: "\30";
}
.icon-palette:before,
.icon-color-palette:before {
  content: "\e014";
}
.icon-camera:before {
  content: "\55";
}
.icon-camera-2:before,
.icon-video:before {
  content: "\e015";
}
.icon-play-2:before,
.icon-video-2:before,
.icon-youtube:before {
  content: "\56";
}
.icon-music:before {
  content: "\57";
}
.icon-user:before {
  content: "\22";
}
.icon-users:before {
  content: "\e01f";
}
.icon-vcard:before {
  content: "\6d";
}
.icon-address:before {
  content: "\70";
}
.icon-share-alt:before,
.icon-out:before {
  content: "\26";
}
.icon-enter:before {
  content: "\e257";
}
.icon-exit:before {
  content: "\e258";
}
.icon-comment:before,
.icon-comments:before {
  content: "\24";
}
.icon-comments-2:before {
  content: "\25";
}
.icon-quote:before,
.icon-quotes-left:before {
  content: "\60";
}
.icon-quote-2:before,
.icon-quotes-right:before {
  content: "\61";
}
.icon-quote-3:before,
.icon-bubble-quote:before {
  content: "\e259";
}
.icon-phone:before {
  content: "\e260";
}
.icon-phone-2:before {
  content: "\e261";
}
.icon-envelope:before,
.icon-mail:before {
  content: "\4d";
}
.icon-envelope-opened:before,
.icon-mail-2:before {
  content: "\4e";
}
.icon-unarchive:before,
.icon-drawer:before {
  content: "\4f";
}
.icon-archive:before,
.icon-drawer-2:before {
  content: "\50";
}
.icon-briefcase:before {
  content: "\e020";
}
.icon-tag:before {
  content: "\e262";
}
.icon-tag-2:before {
  content: "\e263";
}
.icon-tags:before {
  content: "\e264";
}
.icon-tags-2:before {
  content: "\e265";
}
.icon-options:before,
.icon-cog:before {
  content: "\38";
}
.icon-cogs:before {
  content: "\37";
}
.icon-screwdriver:before,
.icon-tools:before {
  content: "\36";
}
.icon-wrench:before {
  content: "\3a";
}
.icon-equalizer:before {
  content: "\39";
}
.icon-dashboard:before {
  content: "\78";
}
.icon-switch:before {
  content: "\e266";
}
.icon-filter:before {
  content: "\54";
}
.icon-purge:before,
.icon-trash:before {
  content: "\4c";
}
.icon-checkedout:before,
.icon-lock:before,
.icon-locked:before {
  content: "\23";
}
.icon-unlock:before {
  content: "\e267";
}
.icon-key:before {
  content: "\5f";
}
.icon-support:before {
  content: "\46";
}
.icon-database:before {
  content: "\62";
}
.icon-scissors:before {
  content: "\e268";
}
.icon-health:before {
  content: "\6a";
}
.icon-wand:before {
  content: "\6b";
}
.icon-eye-open:before,
.icon-eye:before {
  content: "\3c";
}
.icon-eye-close:before,
.icon-eye-blocked:before,
.icon-eye-2:before {
  content: "\e269";
}
.icon-clock:before {
  content: "\6e";
}
.icon-compass:before {
  content: "\6f";
}
.icon-broadcast:before,
.icon-connection:before,
.icon-wifi:before {
  content: "\e01b";
}
.icon-book:before {
  content: "\e271";
}
.icon-lightning:before,
.icon-flash:before {
  content: "\79";
}
.icon-print:before,
.icon-printer:before {
  content: "\e013";
}
.icon-feed:before {
  content: "\71";
}
.icon-calendar:before {
  content: "\43";
}
.icon-calendar-2:before {
  content: "\44";
}
.icon-calendar-3:before {
  content: "\e273";
}
.icon-pie:before {
  content: "\77";
}
.icon-bars:before {
  content: "\76";
}
.icon-chart:before {
  content: "\75";
}
.icon-power-cord:before {
  content: "\32";
}
.icon-cube:before {
  content: "\33";
}
.icon-puzzle:before {
  content: "\34";
}
.icon-attachment:before,
.icon-paperclip:before,
.icon-flag-2:before {
  content: "\72";
}
.icon-lamp:before {
  content: "\74";
}
.icon-pin:before,
.icon-pushpin:before {
  content: "\73";
}
.icon-location:before {
  content: "\63";
}
.icon-shield:before {
  content: "\e274";
}
.icon-flag:before {
  content: "\35";
}
.icon-flag-3:before {
  content: "\e275";
}
.icon-bookmark:before {
  content: "\e023";
}
.icon-bookmark-2:before {
  content: "\e276";
}
.icon-heart:before {
  content: "\e277";
}
.icon-heart-2:before {
  content: "\e278";
}
.icon-thumbs-up:before {
  content: "\5b";
}
.icon-thumbs-down:before {
  content: "\5c";
}
.icon-unfeatured:before,
.icon-asterisk:before,
.icon-star-empty:before {
  content: "\40";
}
.icon-star-2:before {
  content: "\41";
}
.icon-featured:before,
.icon-default:before,
.icon-star:before {
  content: "\42";
}
.icon-smiley:before,
.icon-smiley-happy:before {
  content: "\e279";
}
.icon-smiley-2:before,
.icon-smiley-happy-2:before {
  content: "\e280";
}
.icon-smiley-sad:before {
  content: "\e281";
}
.icon-smiley-sad-2:before {
  content: "\e282";
}
.icon-smiley-neutral:before {
  content: "\e283";
}
.icon-smiley-neutral-2:before {
  content: "\e284";
}
.icon-cart:before {
  content: "\e019";
}
.icon-basket:before {
  content: "\e01a";
}
.icon-credit:before {
  content: "\e286";
}
.icon-credit-2:before {
  content: "\e287";
}
.icon-expired:before {
  content: "\4b";
}
.sp-megamenu-parent {
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 9;
  display: block;
  float: left;
}
.sp-megamenu-parent >li {
  display: inline-block;
  position: relative;
  padding: 0;
  height: 80px;
  line-height: 80px;
}
.sp-megamenu-parent >li.menu-justify {
  position: static;
}
.sp-megamenu-parent >li >a {
  display: inline-block;
  padding: 0;
  font-size: 16px;
  font-family: 400;
  line-height: 35px;
  margin-right: 20px;
  color: #fff;
  position: relative;
}
.sp-megamenu-parent >li.sp-has-child>a {
  padding-right: 0px;
}
.sp-megamenu-parent >li.active>a:before,
.sp-megamenu-parent >li:hover>a:before {
  width: 100%;
}
.sp-megamenu-parent .sp-module {
  padding: 10px;
}
.sp-megamenu-parent .sp-mega-group {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sp-megamenu-parent .sp-mega-group .sp-mega-group-child {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sp-megamenu-parent .sp-dropdown {
  margin: 0;
  position: absolute;
  z-index: 10;
  display: none;
}
.sp-megamenu-parent .sp-dropdown .sp-dropdown-inner {
  background-color: #fff;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  box-shadow: 0 6px 12px rgba(0,0,0,0.176);
  padding: 0px;
}
.sp-megamenu-parent .sp-dropdown .sp-dropdown-inner >.row [class*="col-sm-"] {
  border-right: 1px solid rgba(0,0,0,0.07);
}
.sp-megamenu-parent .sp-dropdown .sp-dropdown-inner >.row [class*="col-sm-"]:last-child {
  border-right: none;
}
.sp-megamenu-parent .sp-dropdown .sp-dropdown-items {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sp-megamenu-parent .sp-dropdown .sp-dropdown-items .sp-has-child>a:after {
  font-family: "FontAwesome";
  content: " \f105";
  float: right;
}
.sp-megamenu-parent .sp-dropdown.sp-menu-center {
  margin-left: 45px;
}
.sp-megamenu-parent .sp-dropdown.sp-dropdown-main {
  top: 100%;
  z-index: 15;
}
.sp-megamenu-parent .sp-dropdown.sp-dropdown-main.sp-menu-right,
.sp-megamenu-parent .sp-dropdown.sp-dropdown-main.sp-menu-full {
  left: 0;
}
.sp-megamenu-parent .sp-dropdown.sp-dropdown-main.sp-menu-left {
  right: 0;
}
.sp-megamenu-parent .sp-dropdown.sp-dropdown-sub {
  top: 0;
  left: 100%;
}
.sp-megamenu-parent .sp-dropdown.sp-dropdown-sub .sp-dropdown-inner {
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item {
  display: block;
  padding: 0;
  position: relative;
  height: auto;
  line-height: normal;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item:last-child {
  border-bottom: none;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item >a {
  display: block;
  padding: 10px 20px;
  color: #393641;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: .5px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item >a.sp-group-title {
  color: #2e2e2e;
  text-transform: uppercase;
  font-weight: bold;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item >a:not(.sp-group-title):hover {
  color: #fff;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item.active>a:not(.sp-group-title) {
  color: #4f5e7f;
}
.sp-megamenu-parent .sp-dropdown-mega >.row {
  margin-top: 30px;
}
.sp-megamenu-parent .sp-dropdown-mega >.row:first-child {
  margin-top: 0;
}
.sp-megamenu-parent .sp-has-child:hover >.sp-dropdown {
  display: block;
}
.sp-megamenu-parent.menu-fade .sp-has-child:hover >.sp-dropdown {
  -webkit-animation: spMenuFadeIn 400ms;
  animation: spMenuFadeIn 400ms;
}
.sp-megamenu-parent.menu-zoom .sp-has-child:hover >.sp-dropdown {
  -webkit-animation: spMenuFadeInDown 400ms;
  animation: spMenuFadeInDown 400ms;
}
.sp-megamenu-parent.menu-fade-up .sp-has-child:hover >.sp-dropdown {
  -webkit-animation: spMenuFadeInUp 400ms;
  animation: spMenuFadeInUp 400ms;
}
#offcanvas-toggler {
  float: left;
  line-height: 80px;
}
#offcanvas-toggler >i {
  -webkit-transition: color 400ms, background-color 400ms;
  -o-transition: color 400ms, background-color 400ms;
  transition: color 400ms, background-color 400ms;
}
#offcanvas-toggler >i:hover {
  color: #fff;
}
.offcanvas-overlay {
  opacity: 0;
  -webkit-transition: all .35s;
  transition: all .35s;
}
body.offcanvas .offcanvas-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.8);
  opacity: 1;
  z-index: 9999;
}
.body-innerwrapper {
  overflow-x: hidden;
  -webkit-transition: right .35s;
  transition: right .35s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  right: 0;
}
.close-offcanvas {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  line-height: 23px;
  text-align: center;
  font-size: 16px;
  border: 1px solid #ececec;
  color: #999;
}
.offcanvas-menu {
  width: 320px;
  height: 100%;
  background-color: #fff;
  color: #5f5f5f;
  position: fixed;
  top: 0;
  right: -320px;
  z-index: 99999;
  overflow: inherit;
  -webkit-transition: right .35s;
  transition: right .35s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.offcanvas-menu .offcanvas-inner .sp-module {
  margin-top: 20px;
  border-bottom: 1px solid rgba(0,0,0,0.08);
  margin-bottom: 50px;
}
.offcanvas-menu .offcanvas-inner .sp-module:after {
  display: none;
}
.offcanvas-menu .offcanvas-inner .sp-module:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
.offcanvas-menu .offcanvas-inner .sp-module.off-canvas-menu {
  padding: 0;
}
.offcanvas-menu .offcanvas-inner .sp-module .sp-module-title {
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
}
.offcanvas-menu .offcanvas-inner .sp-module ul > li {
  border: 0;
  position: relative;
  border-bottom: 1px dashed #f2f2f2;
}
.offcanvas-menu .offcanvas-inner .sp-module ul > li a {
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  padding: 10px 20px;
  font-size: 14px;
  text-transform: uppercase;
  color: #5f5f5f;
  font-weight: 500;
  line-height: 28px;
}
.offcanvas-menu .offcanvas-inner .sp-module ul > li a:before {
  content: '';
  width: 0;
  height: 15px;
  background-color: #4f5e7f;
  float: left;
  position: relative;
  top: 7px;
  margin-right: 5px;
  -webkit-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
}
.offcanvas-menu .offcanvas-inner .sp-module ul > li:hover >a,
.offcanvas-menu .offcanvas-inner .sp-module ul > li.active >a {
  background: rgba(0,0,0,0.04);
  color: #4f5e7f;
}
.offcanvas-menu .offcanvas-inner .sp-module ul > li:hover >a:before,
.offcanvas-menu .offcanvas-inner .sp-module ul > li.active >a:before {
  width: 3px;
}
.offcanvas-menu .offcanvas-inner .sp-module ul > li .offcanvas-menu-toggler {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 13px 20px;
  cursor: pointer;
}
.offcanvas-menu .offcanvas-inner .sp-module ul > li .offcanvas-menu-toggler .fa-plus {
  display: none;
}
.offcanvas-menu .offcanvas-inner .sp-module ul > li .offcanvas-menu-toggler .fa-minus {
  display: inline;
}
.offcanvas-menu .offcanvas-inner .sp-module ul > li .offcanvas-menu-toggler.collapsed .fa-plus {
  display: inline;
}
.offcanvas-menu .offcanvas-inner .sp-module ul > li .offcanvas-menu-toggler.collapsed .fa-minus {
  display: none;
}
.offcanvas-menu .offcanvas-inner .sp-module ul > li >a:after {
  display: none;
}
.offcanvas-menu .offcanvas-inner .sp-module ul > li ul {
  background: rgba(0,0,0,0.02);
}
.offcanvas-menu .offcanvas-inner .sp-module ul > li ul >li > a {
  padding-left: 30px;
}
.offcanvas-menu .offcanvas-inner .sp-module:first-child {
  margin-top: 15px;
  padding: 30px 0;
}
.offcanvas-menu .offcanvas-inner .search {
  margin-top: 25px;
}
.offcanvas-menu .offcanvas-inner .search input {
  width: 100%;
  background: transparent;
  border-color: #5f5f5f;
}
.ltr .offcanvas-menu {
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}
.ltr .body-innerwrapper:after {
  right: 0;
}
.ltr .offcanvas-menu {
  right: -320px;
}
.ltr.offcanvas .offcanvas-menu {
  right: 0;
}
.offcanvas {
  width: 100%;
  height: 100%;
  position: relative;
}
.offcanvas .body-innerwrapper:after {
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
.offcanvas .offcanvas-menu {
  right: 0;
}
.offcanvas .offcanvas-menu ul.nav-child li {
  padding-left: 10px;
}
.menu .nav-child.small {
  font-size: inherit;
}
@-webkit-keyframes spMenuFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spMenuFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes spMenuZoom {
  0% {
    opacity: 0;
    -webkit-transform: scale(.8);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}
@keyframes spMenuZoom {
  0% {
    opacity: 0;
    transform: scale(.8);
    -webkit-transform: scale(.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes spMenuFadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0,30px,0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
  }
}
@keyframes spMenuFadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0,30px,0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
a {
  -webkit-transition: color 400ms, background-color 400ms;
  transition: color 400ms, background-color 400ms;
}
body {
  line-height: 24px;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}
label {
  font-weight: normal;
}
legend {
  padding-bottom: 10px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.btn,
.sppb-btn {
  border: none;
  border-radius: 0;
  line-height: 40px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: 500;
  background: #f7f6f5;
  color: #999;
  -webkit-transition: color 400ms, background-color 400ms, border-color 400ms;
  -o-transition: color 400ms, background-color 400ms, border-color 400ms;
  transition: color 400ms, background-color 400ms, border-color 400ms;
}
.btn:hover,
.btn:focus,
.btn:active,
.sppb-btn:hover,
.sppb-btn:focus,
.sppb-btn:active {
  color: #fff;
}
.offline-inner {
  margin-top: 100px;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: block;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,0.6);
}
select::-moz-placeholder,
textarea::-moz-placeholder,
input[type="text"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
input[type="datetime"]::-moz-placeholder,
input[type="datetime-local"]::-moz-placeholder,
input[type="date"]::-moz-placeholder,
input[type="month"]::-moz-placeholder,
input[type="time"]::-moz-placeholder,
input[type="week"]::-moz-placeholder,
input[type="number"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="url"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="color"]::-moz-placeholder,
.uneditable-input::-moz-placeholder {
  color: #999;
  opacity: 1;
}
select:-ms-input-placeholder,
textarea:-ms-input-placeholder,
input[type="text"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="datetime"]:-ms-input-placeholder,
input[type="datetime-local"]:-ms-input-placeholder,
input[type="date"]:-ms-input-placeholder,
input[type="month"]:-ms-input-placeholder,
input[type="time"]:-ms-input-placeholder,
input[type="week"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="url"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="color"]:-ms-input-placeholder,
.uneditable-input:-ms-input-placeholder {
  color: #999;
}
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="datetime"]::-webkit-input-placeholder,
input[type="datetime-local"]::-webkit-input-placeholder,
input[type="date"]::-webkit-input-placeholder,
input[type="month"]::-webkit-input-placeholder,
input[type="time"]::-webkit-input-placeholder,
input[type="week"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="url"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="color"]::-webkit-input-placeholder,
.uneditable-input::-webkit-input-placeholder {
  color: #999;
}
select[disabled],
select[readonly],
fieldset[disabled] select,
textarea[disabled],
textarea[readonly],
fieldset[disabled] textarea,
input[type="text"][disabled],
input[type="text"][readonly],
fieldset[disabled] input[type="text"],
input[type="password"][disabled],
input[type="password"][readonly],
fieldset[disabled] input[type="password"],
input[type="datetime"][disabled],
input[type="datetime"][readonly],
fieldset[disabled] input[type="datetime"],
input[type="datetime-local"][disabled],
input[type="datetime-local"][readonly],
fieldset[disabled] input[type="datetime-local"],
input[type="date"][disabled],
input[type="date"][readonly],
fieldset[disabled] input[type="date"],
input[type="month"][disabled],
input[type="month"][readonly],
fieldset[disabled] input[type="month"],
input[type="time"][disabled],
input[type="time"][readonly],
fieldset[disabled] input[type="time"],
input[type="week"][disabled],
input[type="week"][readonly],
fieldset[disabled] input[type="week"],
input[type="number"][disabled],
input[type="number"][readonly],
fieldset[disabled] input[type="number"],
input[type="email"][disabled],
input[type="email"][readonly],
fieldset[disabled] input[type="email"],
input[type="url"][disabled],
input[type="url"][readonly],
fieldset[disabled] input[type="url"],
input[type="search"][disabled],
input[type="search"][readonly],
fieldset[disabled] input[type="search"],
input[type="tel"][disabled],
input[type="tel"][readonly],
fieldset[disabled] input[type="tel"],
input[type="color"][disabled],
input[type="color"][readonly],
fieldset[disabled] input[type="color"],
.uneditable-input[disabled],
.uneditable-input[readonly],
fieldset[disabled] .uneditable-input {
  cursor: not-allowed;
  background-color: #eeeeee;
  opacity: 1;
}
textareaselect,
textareatextarea,
textareainput[type="text"],
textareainput[type="password"],
textareainput[type="datetime"],
textareainput[type="datetime-local"],
textareainput[type="date"],
textareainput[type="month"],
textareainput[type="time"],
textareainput[type="week"],
textareainput[type="number"],
textareainput[type="email"],
textareainput[type="url"],
textareainput[type="search"],
textareainput[type="tel"],
textareainput[type="color"],
textarea.uneditable-input {
  height: auto;
}
select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  border-color: #4f5e7f;
}
.group-control select,
.group-control textarea,
.group-control input[type="text"],
.group-control input[type="password"],
.group-control input[type="datetime"],
.group-control input[type="datetime-local"],
.group-control input[type="date"],
.group-control input[type="month"],
.group-control input[type="time"],
.group-control input[type="week"],
.group-control input[type="number"],
.group-control input[type="email"],
.group-control input[type="url"],
.group-control input[type="search"],
.group-control input[type="tel"],
.group-control input[type="color"],
.group-control .uneditable-input {
  width: 100%;
  box-shadow: none;
}
.form-links {
  margin-top: 30px;
}
.form-links ul {
  list-style: none;
  padding: 0;
  margin: 0 -5px;
  text-align: center;
}
.form-links ul >li {
  display: inline-block;
  margin: 0 5px;
}
@media (max-width: 480px) {
  ul.social-icons {
    float: left !important;
  }
}
#sp-top-bar {
  background: #f0f0f0 !important;
}
#sp-top-bar a {
  color: #fff;
}
#sp-top-bar a:hover {
  color: #fff;
}
#sp-top-bar .sp-module {
  display: inline-block;
  margin: 0 0 0 20px;
}
#sp-top-bar .sp-module ul >li >a {
  font-size: 13px;
  padding: 0;
}
#sp-top-bar .sp-module ul >li >a i {
  color: 16px;
}
#sp-top-bar a {
  color: #fff;
  line-height: 50px;
  height: 50px;
  color: #535353;
}
ul.social-icons {
  list-style: none;
  float: right;
  padding: 0;
  margin: -5px;
  display: inline-block;
}
ul.social-icons >li {
  display: inline-block;
  margin: 5px 7px;
}
ul.social-icons >li a {
  color: #999999;
}
.sp-contact-info i {
  color: #535353;
}
.left ul li:first-child {
  margin-left: 0 !important;
}
.topbar .left p {
  font-weight: 600;
  margin-right: 1px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
  color: #222222;
}
.topbar .left ul,
.topbar .right ul {
  display: inline-block;
  position: relative;
  list-style: none;
  vertical-align: middle;
  margin: 0;
}
.topbar .left ul li {
  float: left;
  margin-left: 25px;
}
.topbar ul li a {
  color: #535353 !important;
}
.topbar ul li a:hover {
  color: #070707;
}
.topbar .sp-module {
  padding: 0 !important;
  margin: 0 !important;
}
.topbar .sp-module ul >li {
  border-bottom: none;
}
.topbar .sp-module ul >li >a:before {
  display: none;
}
#sp-header-info {
  margin-top: 20px;
}
.header-top .info {
  display: inline-block;
  vertical-align: middle;
  float: right;
}
.header-top .info p {
  margin: 0;
}
.header-top .info .address,
.header-top .info .open-hours,
.header-top .info .address .icon,
.header-top .info .address .text,
.header-top .info .open-hours .icon,
.header-top .info .open-hours .text {
  display: inline-block;
  vertical-align: middle;
}
.header-top .info .address {
  margin-right: 65px;
}
.header-top .info .open-hours {
  margin-right: 5px;
}
.header-top .info .icon {
  margin-right: 10px;
  font-size: 21px;
  text-align: center;
  width: 45px;
  height: 45px;
  padding-top: 10px;
  border: 2px solid #363636;
  border-radius: 50%;
}
.header-top .info .text {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  color: #333333;
}
.header-top .info .text span {
  font-size: 12px;
  font-weight: normal;
  color: #535353;
}
.header-top .info .address .text span {
  margin-left: 3px;
}
.sp-module-content .mod-languages ul.lang-inline {
  margin: 0;
  padding: 0;
}
.sp-module-content .mod-languages ul.lang-inline li {
  border: none;
  display: inline-block;
  margin: 0 5px 0 0;
}
.sp-module-content .mod-languages ul.lang-inline li a {
  padding: 0 !important;
}
.sp-module-content .mod-languages ul.lang-inline li >a:before {
  display: none;
}
.sp-contact-info {
  float: left;
  list-style: none;
  padding: 0;
  margin: 0 -10px;
}
.sp-contact-info li {
  display: inline-block;
  margin: 0 10px;
  font-size: 14px;
  color: #fff;
  font-weight: 400 !important;
}
.sp-contact-info li i {
  margin: 0 3px;
}
#sp-header {
  background: #ffffff;
  height: 80px;
  position: relative;
  z-index: 999;
}
#sp-header .logo {
  display: inline-block;
  height: 80px;
  display: table;
}
#sp-header .logo h1 {
  font-size: 24px;
  line-height: 1;
  margin: 0;
  padding: 0;
  display: table-cell;
  vertical-align: middle;
}
#sp-header .logo p {
  margin: 5px 0 0;
}
#sp-header .sp-retina-logo {
  display: none;
}
#sp-navigation {
  background: #4f5e7f;
}
.get-appointment a {
  line-height: 80px;
  height: 80px;
  position: relative;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  display: inline-block !important;
  background-color: #282f40;
  padding: 0 30px;
}
.get-appointment a:hover {
  color: #fde428;
}
#sp-menu-right p {
  text-align: right;
  margin: 0 !important;
}
.sticky-wrapper.is-sticky {
  position: relative;
  z-index: 999;
}
#offcanvas-toggler {
  margin-left: 10px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),only screen and (-moz-min-device-pixel-ratio: 1.5),only screen and (-o-min-device-pixel-ratio: 1.5),only screen and (min-device-pixel-ratio: 1.5) {
  #sp-header .sp-default-logo {
    display: none;
  }
  #sp-header .sp-retina-logo {
    display: block;
  }
}
#sp-title {
  min-height: 0;
  background-image: url(../images/bg_breadcrumb.jpg);
  background-size: cover;
  background-position: center;
}
#sp-title:before {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background: rgba(54,54,54,0.9);
}
.sp-page-title {
  position: relative;
  padding: 60px 0;
  text-transform: uppercase;
}
.sp-page-title h2,
.sp-page-title h3 {
  margin: 0;
  padding: 0;
  color: #fff;
}
.sp-page-title h2 {
  font-size: 24px;
  line-height: 1;
}
.sp-page-title h3 {
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  margin-top: 10px;
}
.sp-page-title .breadcrumb {
  background: none;
  padding: 0;
  margin: 10px 0 0 0;
}
.sp-page-title .breadcrumb >.active {
  color: rgba(255,255,255,0.8);
}
.sp-page-title .breadcrumb >span,
.sp-page-title .breadcrumb >li,
.sp-page-title .breadcrumb >li+li:before,
.sp-page-title .breadcrumb >li>a {
  color: #fff;
}
.body-innerwrapper {
  overflow-x: hidden;
  -webkit-transition: margin-left 400ms cubic-bezier(0.7,0,0.3,1);
  transition: margin-left 400ms cubic-bezier(0.7,0,0.3,1);
}
.layout-boxed {
  background: #f2f2f2;
}
.layout-boxed .body-innerwrapper {
  max-width: 1240px;
  margin: 0 auto;
  border: 1px solid #f2f2f2;
}
.layout-boxed #sp-header {
  box-shadow: none;
  border-bottom: 1px solid #f2f2f2;
}
#sp-main-body {
  padding: 50px 0;
}
.com-sppagebuilder #sp-main-body {
  padding: 0;
}
.sppb-addon-cta .sppb-cta-subtitle {
  margin-bottom: 0;
  line-height: 26px !important;
}
.sppb-addon-cta .sppb-btn-lg {
  margin-top: 30px;
}
.cta-bg {
  background: #4f5e7f;
}
.cta-bg .sppb-btn {
  background: transparent;
  border: 1px solid #fff;
  color: #fff !important;
}
.cta-bg .sppb-btn:hover {
  background: #ccc;
}
.custom-cta .sppb-btn {
  background: rgba(0,0,0,0);
  border: 1px solid #4f5e7f;
  color: #4f5e7f;
  margin-top: 20px;
}
.custom-cta .sppb-btn:hover {
  color: #fff;
  background-color: #4f5e7f;
  border-color: #4f5e7f;
}
.custom-cta .text-blue {
  color: #4f5e7f;
}
.sppb-addon-image-content {
  position: relative;
}
.sppb-addon-image-content .sppb-image-holder {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background-position: 50%;
  background-size: cover;
}
.sppb-addon-image-content.aligment-left .sppb-image-holder {
  left: 0;
}
.sppb-addon-image-content.aligment-left .sppb-content-holder {
  padding: 120px 0 120px 50px;
}
.sppb-addon-image-content.aligment-right .sppb-image-holder {
  right: 0;
}
.sppb-addon-image-content.aligment-right .sppb-content-holder {
  padding: 120px 50px 120px 0;
}
@media (max-width: 768px) {
  .sppb-addon-image-content .sppb-image-holder {
    position: inherit;
    width: 100% !important;
    height: 300px;
  }
}
.sp-module {
  margin-top: 50px;
}
.sp-module:first-child {
  margin-top: 0;
}
.sp-module .sp-module-title {
  margin: 0 0 20px;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1;
}
.sp-module ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sp-module ul >li {
  display: block;
  border-bottom: 1px solid #e8e8e8;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.sp-module ul >li >a {
  display: block;
  padding: 5px 0;
  line-height: 36px;
  padding: 2px 0;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.sp-module ul >li >a:hover {
  background: none;
}
.sp-module ul >li >a:before {
  font-family: FontAwesome;
  content: "\f105";
  margin-right: 8px;
}
.sp-module ul >li:last-child {
  border-bottom: none;
}
.sp-module .categories-module ul {
  margin: 0 10px;
}
.sp-module .latestnews >div {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #e8e8e8;
}
.sp-module .latestnews >div:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: 0;
}
.sp-module .latestnews >div >a {
  display: block;
  font-weight: 400;
}
.sp-module .tagscloud {
  margin: -2px 0;
}
.sp-module .tagscloud .tag-name {
  display: inline-block;
  padding: 5px 10px;
  background: #808080;
  color: #fff;
  border-radius: 4px;
  margin: 2px 0;
}
.sp-module .tagscloud .tag-name span {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: rgba(0,0,0,0.2);
  border-radius: 10px;
}
.login img {
  display: inline-block;
  margin: 20px 0;
}
.login .checkbox input[type="checkbox"] {
  margin-top: 6px;
}
.form-links ul {
  list-style: none;
  padding: 0;
}
.search .btn-toolbar {
  margin-bottom: 20px;
}
.search .btn-toolbar span.icon-search {
  margin: 0;
}
.search .btn-toolbar button {
  color: #fff;
}
.search .phrases .phrases-box .controls label {
  display: inline-block;
  margin: 0 20px 20px;
}
.search .phrases .ordering-box {
  margin-bottom: 15px;
}
.search .only label {
  display: inline-block;
  margin: 0 20px 20px;
}
.search .search-results dt.result-title {
  margin-top: 40px;
}
.search .search-results dt,
.search .search-results dd {
  margin: 5px 0;
}
.filter-search .chzn-container-single .chzn-single {
  height: 34px;
  line-height: 34px;
}
.form-search .finder label {
  display: block;
}
.form-search .finder .input-medium {
  width: 60%;
  border-radius: 4px;
}
.finder .word input {
  display: inline-block;
}
.finder .search-results.list-striped li {
  padding: 20px 0;
}
.article-info {
  margin: 0 -8px 5px;
  line-height: 12px;
}
.article-info >dd {
  display: inline-block;
  font-size: 14px;
  color: #b9b9b9;
  margin: 0 8px;
}
.article-info >dd >i {
  display: inline-block;
  margin-right: 3px;
}
article.item {
  margin-bottom: 50px;
}
.tags {
  margin-top: 20px;
}
.tags >span {
  text-transform: uppercase;
  letter-spacing: 2px;
}
.content_rating,
.content_rating + form {
  display: none;
}
.voting-symbol {
  unicode-bidi: bidi-override;
  direction: rtl;
  font-size: 14px;
  display: inline-block;
}
.voting-symbol span.star {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
}
.voting-symbol span.star.active:before {
  content: "\f005";
}
.voting-symbol span.star:before {
  content: "\f006";
  padding-right: 5px;
}
.sp-rating span.star:hover:before,
.sp-rating span.star:hover ~ span.star:before {
  content: "\f005";
  cursor: pointer;
}
.post_rating {
  margin-bottom: 20px;
}
.post_rating .ajax-loader,
.post_rating .voting-result {
  display: none;
}
.post-format {
  position: absolute;
  top: 0;
  left: -68px;
  display: block;
  width: 48px;
  height: 48px;
  font-size: 24px;
  line-height: 48px;
  text-align: center;
  color: #fff;
  border-radius: 3px;
}
.entry-image,
.entry-gallery,
.entry-video,
.entry-audio,
.entry-link {
  margin-bottom: 30px;
}
.entry-status,
.entry-quote {
  margin-bottom: 50px;
}
.entry-header {
  position: relative;
  margin-bottom: 30px;
}
.entry-header.has-post-format {
  margin-left: 68px;
}
.entry-header h2 {
  font-size: 24px;
  line-height: 1;
}
.entry-header h2 a {
  color: #727272;
  text-transform: capitalize;
  font-size: 22px;
  line-height: 25px;
}
.entry-link {
  padding: 100px 50px;
  position: relative;
  z-index: 1;
}
.entry-link a h4 {
  margin: 0;
  font-size: 36px;
  color: #fff;
}
.entry-link a h4:hover {
  color: rgba(255,255,255,0.85);
}
.entry-link:before {
  position: absolute;
  left: -60px;
  font-size: 300px;
  content: "\f0c1";
  font-family: FontAwesome;
  transform: rotate(90deg);
  top: -75px;
  color: rgba(255,255,255,0.15);
  z-index: -1;
}
.entry-quote {
  position: relative;
  padding: 80px 50px;
  color: rgba(255,255,255,0.9);
}
.entry-quote:before {
  position: absolute;
  left: -40px;
  font-size: 300px;
  content: "\f10e";
  font-family: FontAwesome;
  transform: rotate(15deg);
  top: -75px;
  color: rgba(255,255,255,0.15);
}
.entry-quote blockquote small {
  color: #FFF;
  font-weight: 600;
  font-size: 20px;
}
.entry-quote blockquote {
  padding: 0;
  margin: 0;
  font-size: 16px;
  border: none;
}
.carousel-left,
.carousel-right {
  position: absolute;
  top: 50%;
  font-size: 24px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  margin-top: -18px;
  text-align: center;
  color: #fff;
  background: rgba(0,0,0,0.5);
  border-radius: 4px;
  -webkit-transition: 400ms;
  transition: 400ms;
}
.carousel-left:hover,
.carousel-right:hover {
  color: #fff;
}
.carousel-left:focus,
.carousel-right:focus {
  color: #fff;
}
.carousel-left {
  left: 10px;
}
.carousel-right {
  right: 10px;
}
.newsfeed-category .category {
  list-style: none;
  padding: 0;
  margin: 0;
}
.newsfeed-category .category li {
  padding: 5px 0;
}
.newsfeed-category #filter-search {
  margin: 10px 0;
}
.category-module,
.categories-module,
.archive-module,
.latestnews,
.newsflash-horiz,
.mostread,
.list-striped {
  list-style: none;
  padding: 0;
  margin: 0;
}
.category-module li,
.categories-module li,
.archive-module li,
.latestnews li,
.newsflash-horiz li,
.mostread li,
.list-striped li {
  padding: 2px 0;
}
.category-module li h4,
.categories-module li h4,
.archive-module li h4,
.latestnews li h4,
.newsflash-horiz li h4,
.mostread li h4,
.list-striped li h4 {
  margin: 5px 0;
}
.form-links {
  list-style: none;
  padding: 0;
}
.form-links li {
  padding: 2px 0;
}
.form-links li h4 {
  margin: 5px 0;
}
#sp-bottom {
  background-color: #222 !important;
  color: #757575;
  font-size: 14px !important;
  font-weight: 400;
}
#sp-bottom .sp-module .sp-module-title {
  text-transform: none;
  font-weight: 400;
  font-size: 24px;
}
#sp-footer {
  color: #757575;
  background-color: #181818 !important;
  text-align: center;
  padding: 20px 0;
}
#sp-footer a {
  color: #4f5e7f;
}
#sp-footer a:hover {
  color: #666;
}
#sp-footer-wrapper ul {
  display: inline-block;
}
#sp-footer-wrapper ul.nav {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0 5px;
}
#sp-footer-wrapper ul.nav li {
  display: inline-block;
  margin: 0 5px;
}
#sp-footer-wrapper ul.nav li a {
  display: block;
}
#sp-footer-wrapper ul.nav li a:hover {
  background: none;
}
#sp-footer-wrapper .helix-framework {
  display: inline-block;
}
#sp-footer-wrapper .helix-framework .helix-logo {
  display: block;
  width: 130px;
  height: 40px;
  text-indent: -9999px;
  background: url(../images/helix-logo-white.png) no-repeat 0 0;
}
#sp-footer-wrapper .copyright {
  display: block;
}
.sp-copyright {
  float: left;
}
.totop {
  text-transform: uppercase;
  text-align: right;
  font-weight: 600;
}
.totop a {
  color: #757575;
}
.totop a:hover {
  color: #dcdcdc;
}
.totop a:hover img {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}
.totop img {
  position: relative;
  display: inline-block;
  top: -1px;
  margin-left: 8px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  opacity: 0.7;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.sp-comingsoon {
  width: 100%;
  height: 100%;
  min-height: 100%;
}
.sp-comingsoon body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  color: #fff;
}
.sp-comingsoon .sp-comingsoon-title {
  margin-top: 130px;
  font-size: 42px;
  margin-bottom: 10px;
  font-weight: 700;
}
.sp-comingsoon .sp-comingsoon-content {
  font-size: 28px;
  font-weight: 300;
}
.sp-comingsoon .days,
.sp-comingsoon .hours,
.sp-comingsoon .minutes,
.sp-comingsoon .seconds {
  display: inline-block;
  margin: 80px 15px;
}
.sp-comingsoon .days .number,
.sp-comingsoon .hours .number,
.sp-comingsoon .seconds .number,
.sp-comingsoon .minutes .number {
  width: 115px;
  height: 120px;
  line-height: 120px;
  border: 1px solid #fff;
  border-radius: 4px;
  display: inline-block;
  font-size: 48px;
  font-weight: bold;
}
.sp-comingsoon .days .string,
.sp-comingsoon .minutes .string,
.sp-comingsoon .seconds .string,
.sp-comingsoon .hours .string {
  display: block;
  font-size: 18px;
  margin-top: 10px;
}
.sp-comingsoon .social-icons li {
  display: inline-block;
  margin: 0 15px;
}
.sp-comingsoon .social-icons li a {
  color: rgba(255,255,255,0.7);
  font-size: 24px;
  -webkit-transition: color 400ms;
  transition: color 400ms;
}
.sp-comingsoon .social-icons li a:hover {
  color: #fff;
}
.error-page {
  width: 100%;
  height: 100%;
  min-height: 100%;
}
.error-page body {
  width: 100%;
  height: 100%;
  min-height: 100%;
}
.error-page .error-page-inner {
  height: 100%;
  min-height: 100%;
  width: 100%;
  display: table;
  text-align: center;
}
.error-page .error-page-inner >div {
  display: table-cell;
  vertical-align: middle;
}
.error-page .fa-exclamation-triangle {
  font-size: 64px;
  line-height: 1;
  margin-bottom: 10px;
}
.error-page .error-code {
  font-weight: bold;
  font-size: 96px;
  line-height: 1;
  margin: 0 0 10px 0;
  padding: 0;
}
.error-page .error-message {
  font-size: 24px;
  line-height: 1;
  margin-bottom: 30px;
}
.sp-social-share ul {
  display: block;
  padding: 0;
  margin: 20px -5px 0;
}
.sp-social-share ul li {
  display: inline-block;
  font-size: 24px;
  margin: 0 5px;
}
.dl-horizontal dt {
  margin: 8px 0;
  text-align: left;
}
.page-header {
  padding-bottom: 15px;
}
table.category {
  width: 100%;
}
table.category thead >tr,
table.category tbody >tr {
  border: 1px solid #f2f2f2;
}
table.category thead >tr th,
table.category thead >tr td,
table.category tbody >tr th,
table.category tbody >tr td {
  padding: 10px;
}
.contact-form .form-actions {
  background: none;
  border: none;
}
@media print {
  .visible-print {
    display: inherit !important;
  }
  .hidden-print {
    display: none !important;
  }
}
.sp-simpleportfolio .sp-simpleportfolio-filter {
  text-align: left;
}
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li > a {
  background: #2D2D2D;
  border-radius: 2px;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.sp-simpleportfolio .sp-simpleportfolio-item .sp-simpleportfolio-btns a {
  border-radius: 0;
}
table.acymailing_form {
  width: 80%;
}
td.acysubbuttons {
  padding-left: 5px;
}
td.acysubbuttons .button {
  padding: 12px 30px;
  margin-left: -30px;
}
.text-blue {
  color: #4f5e7f;
}
#sp-page-builder hr {
  width: 60px;
  padding-bottom: 0 !important;
  border-width: 2px;
  border-color: #4f5e7f;
}
.section-color {
  background: #4f5e7f;
}
.section-color .sppb-btn {
  border: 1px solid #fff;
  background: rgba(0,0,0,0);
  color: #fff;
}
.section-color .sppb-btn:hover {
  background: #fff;
  color: #999;
}
.sppb-addon-cta .sppb-row {
  display: table;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .sppb-addon-cta .sppb-row >div {
    display: inherit;
    float: left;
  }
  .sppb-addon-cta .sppb-btn {
    margin-top: 15px;
  }
}
#sp-bottom #sp-bottom1,
#sp-bottom #sp-bottom2,
#sp-bottom #sp-bottom3,
#sp-bottom #sp-bottom4 {
  margin-bottom: 40px;
}
@media only screen and (min-width: 992px) {
  .tp-caption.finewide_medium_white,
  .finewide_medium_white {
    font-weight: bold !important;
    color: #222;
    text-transform: none;
    font-size: 58px !important;
    letter-spacing: 0 !important;
    text-shadow: rgba(0,0,0,0.298039) 0px 1px 1px;
    line-height: 75px !important;
    font-family: "Poppins", sans-serif !important;
  }
}
.tp-caption.finewide_medium_white,
.finewide_medium_white {
  font-weight: bold !important;
  color: #222;
  text-transform: none;
  text-shadow: rgba(0,0,0,0.298039) 0px 1px 1px;
  font-family: "Poppins", sans-serif !important;
}
.tp-caption.finewide_large_white,
.finewide_large_white {
  color: #fff !important;
  font-weight: 600;
}
.tp-caption.small_thin_grey,
.small_thin_grey {
  color: #222;
  font-family: "Poppins", sans-serif !important;
}
.tp-caption.greenbox30,
.greenbox30 {
  background-color: #4f5e7f;
}
.contact-form .form-actions {
  background: none;
  border: none;
}
.address_info {
  float: left;
  background-color: #f9f9f9;
  border: 1px solid #e1e1e1;
  padding: 20px 0px;
  width: 99%;
  margin-bottom: 40px;
}
.address_info h4 {
  font-size: 22px;
  line-height: 25px;
  margin-bottom: 18px;
  font-style: normal;
}
.address_info ul {
  list-style: none;
}
#sp-quickcontact-form select,
#sp-quickcontact-form textarea,
#sp-quickcontact-form input[type="text"],
#sp-quickcontact-form input[type="password"],
#sp-quickcontact-form input[type="datetime"],
#sp-quickcontact-form input[type="datetime-local"],
#sp-quickcontact-form input[type="date"],
#sp-quickcontact-form input[type="month"],
#sp-quickcontact-form input[type="time"],
#sp-quickcontact-form input[type="week"],
#sp-quickcontact-form input[type="number"],
#sp-quickcontact-form input[type="email"],
#sp-quickcontact-form input[type="url"],
#sp-quickcontact-form input[type="search"],
#sp-quickcontact-form input[type="tel"],
#sp-quickcontact-form input[type="color"],
#sp-quickcontact-form .uneditable-input {
  color: #454545;
  float: left;
  width: 100%;
  padding: 9px 12px;
  margin-bottom: 10px;
  border: 1px solid #eee;
  height: 43px;
  background: #f9f9f9;
  -webkit-box-shadow: inset 1px 0px 2px 0px #eeeeee;
  -moz-box-shadow: inset 1px 0px 2px 0px #eeeeee;
  box-shadow: inset 0px 1px 2px 0px #eeeeee;
}
#sp-quickcontact-form .button {
  float: left;
  margin-top: 10px;
  color: #fff;
  padding: 14px 20px;
  font-size: 14px;
  font-weight: 500;
  background: #4f5e7f;
  border: 1px solid #4f5e7f;
  cursor: pointer;
  transition: all 0.3s ease;
}
#sp-quickcontact-form .button:hover {
  background: #454545;
  border: 1px solid #393939;
}
@media print {
  .visible-print {
    display: inherit !important;
  }
  .hidden-print {
    display: none !important;
  }
}
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li > a {
  background: rgba(0,0,0,0);
  border: 1px solid #dcdfe0;
  color: #acb4b6;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  padding: 6px 20px;
}
.sp-simpleportfolio .sp-simpleportfolio-item .sp-simpleportfolio-overlay-wrapper .sp-simpleportfolio-overlay {
  background: rgba(0,0,0,0.9) !important;
}
.sp-simpleportfolio .sp-simpleportfolio-item .sp-simpleportfolio-overlay {
  padding: 30px !important;
}
.sp-simpleportfolio .sp-simpleportfolio-item .sp-simpleportfolio-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  text-align: center;
  background-color: transparent;
  z-index: 5;
  color: #fff;
}
.sp-simpleportfolio .sp-simpleportfolio-item .sp-simpleportfolio-info:hover {
  background-color: transparent;
}
.sp-simpleportfolio .sp-simpleportfolio-item .sp-simpleportfolio-title {
  line-height: 35px !important;
  margin-bottom: 10px !important;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  opacity: 0;
  -webkit-transform: translate3d(0,50px,0) !important;
  transform: translate3d(0,50px,0) !important;
  -webkit-transition-delay: .15s !important;
  transition-delay: .15s !important;
}
.sp-simpleportfolio .sp-simpleportfolio-item .sp-simpleportfolio-title a {
  color: #fff !important;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.sp-simpleportfolio .sp-simpleportfolio-item .sp-simpleportfolio-title a:hover {
  opacity: .8;
}
.sp-simpleportfolio .sp-simpleportfolio-item .sp-simpleportfolio-tags {
  text-transform: uppercase;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  opacity: 0;
  -webkit-transform: translate3d(0,50px,0) !important;
  transform: translate3d(0,50px,0) !important;
}
.sp-simpleportfolio .sp-simpleportfolio-item:hover .sp-simpleportfolio-title,
.sp-simpleportfolio .sp-simpleportfolio-item:hover .sp-simpleportfolio-tags {
  -webkit-transform: translate3d(0,0,0) !important;
  transform: translate3d(0,0,0) !important;
  opacity: 1;
}
.sp-simpleportfolio .sp-simpleportfolio-item:hover .sp-simpleportfolio-tags {
  -webkit-transition-delay: .30s !important;
  transition-delay: .30s !important;
}
.sp-simpleportfolio .sp-simpleportfolio-item .sp-vertical-middle {
  height: 100%;
  width: 100%;
  display: table;
}
.sppb-addon-cta .sppb-row {
  display: table;
  width: 100%;
}
.sppb-testimonial-message:before {
  position: absolute;
  content: "\f10d";
  font-family: fontAwesome;
  top: 10px;
  left: 20px;
  color: #4f5e7f;
  font-size: 40px;
  width: 50px;
  height: 50px;
  line-height: 97px;
  transition: all 100ms ease-out;
}
.sppb-testimonial-pro .sppb-carousel-control {
  position: relative;
  margin: 1px 0 0 0;
  border: none;
  font-size: 22px;
  color: #4f5e7f;
  line-height: 50px;
  text-align: center;
  border-radius: 1px;
  outline: none;
  transition: all 100ms ease-out;
}
.sppb-testimonial-pro .sppb-carousel-control:hover {
  background: rgba(0,0,0,0);
  color: #3b4760;
}
#sp-page-builder .sppb-section-title.sppb-text-center .sppb-title-subheading {
  text-transform: uppercase;
}
.sppb-testimonial-pro .sppb-testimonial-message {
  font-size: 18px;
  line-height: 26px;
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  padding: 40px 40px 40px 90px;
  font-size: 16px;
  line-height: 2;
}
.pro-client-name {
  color: #acb4b6;
  font-weight: 300;
  text-transform: uppercase;
}
.layout-blog #sp-main-body article.item {
  margin-bottom: 50px;
  border-bottom: 1px solid #ededed;
  overflow: hidden;
  margin: 0 0 40px 0;
  background: #fff;
}
.layout-blog #sp-main-body article.item .article-info {
  margin: 0 -8px 5px;
  line-height: 12px;
}
.layout-blog #sp-main-body article.item .post-format {
  background: #727272;
  border-radius: 0;
}
.layout-blog #sp-main-body article.item .article-info >dd {
  font-weight: 400;
}
.layout-blog #sp-main-body .blog p {
  position: relative;
  z-index: 15;
  padding: 0px;
}
.layout-blog .sp-module .latestnews >div >a {
  padding: 10px;
}
.layout-blog .latestnews small {
  display: none;
}
.layout-blog .class2 .sp-module .sp-module-title {
  text-transform: uppercase;
  padding: 15px;
  color: #fff;
  background: #444;
  border-left: 6px solid #4f5e7f;
}
.layout-blog .class2 .sp-module-content {
  padding: 10px;
  background: #fff;
  border: 1px solid #dddddd;
}
.readmore .btn {
  border: 2px solid #969696;
  color: #969696;
  background: rgba(0,0,0,0);
  font-weight: 400;
}
.readmore .btn:hover,
.readmore .btn:focus {
  box-shadow: none;
  background: rgba(0,0,0,0);
  color: #4f5e7f;
  border: 2px solid #4f5e7f;
}
.view-article #sp-main-body {
  background-color: #f2f2f2;
}
.view-article #sp-main-body .item.item-page {
  margin-bottom: 50px;
  border-radius: 0;
  border: 1px solid #f2f2f2;
  overflow: hidden;
  margin: 0 0 40px 0;
  background: #fff;
  padding: 20px;
}
.class2 #mod-search-searchword {
  float: none !important;
}
#sp-bottom .sp-module ul >li >a:before {
  display: none !important;
}
#sp-bottom .sp-module ul >li >a {
  line-height: 25px !important;
}
#sp-bottom .sp-module ul >li {
  border-bottom: none;
}
#bg-overlay:before {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background: rgba(0,9,29,0.9);
}
#bg-overlay {
  position: relative;
}
.pagination>li>a,
.pagination>li>span {
  color: #242424;
  height: 40px;
  line-height: 40px;
  margin: 0 10px 0 0;
  padding: 0;
  display: inline-block;
  text-align: center;
  width: 40px;
  border: 1px solid #e4e4e4;
}
.pagination>li>a:hover,
.pagination>li>a:focus,
.pagination>li>span:hover,
.pagination>li>span:focus {
  border: 1px solid #4f5e7f;
  background: #4f5e7f;
  color: #fff !important;
}
.pagination>li:first-child>a,
.pagination>li:first-child>span,
.pagination>li:last-child>a,
.pagination>li:last-child>span {
  border-radius: 0 !important;
}
.pager [class^="icon-"]:before,
.pager [class*=" icon-"]:before {
  font-family: 'IcoMoon' !important;
}
#sp-bottom .sp-module .latestnews >div {
  border-bottom: none;
}
#sp-bottom .sp-module .latestnews >div a {
  color: #b2b2b2;
}
#sp-bottom .sp-module .latestnews >div small {
  display: none;
}
#sp-bottom .sp-module .sp-module-title {
  position: relative;
  text-transform: uppercase;
  font-size: 17px;
  padding: 0px 0px 25px 0px;
}
#sp-bottom .sp-module .sp-module-title:before {
  width: 35px;
  height: 3px;
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  background-color: #fde428;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.view-registration .login,
.view-registration .registration,
.view-login .login,
.view-login .registration {
  position: relative;
  padding: 33px 25px 29px;
  background: #FFFFFF;
  border-bottom: 1px solid #C4C4C4;
  border-radius: 0px;
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.25);
  box-shadow: 0 1px 5px rgba(0,0,0,0.25);
}
.pager .previous>a,
.pager .previous>span {
  float: left;
  text-transform: uppercase;
}
.pager li>a,
.pager li>span {
  border-radius: 0;
  background: #4f5e7f;
  color: #fff;
}
.pager li>a:hover,
.pager li>a:focus,
.pager li>a:active {
  background: #3b4760;
  color: #fff;
}
.sppb-addon-tab .sppb-nav-tabs {
  border-bottom: none;
}
.sppb-addon-tab .sppb-nav-tabs li {
  padding-left: 30px;
  margin-bottom: 0;
  border-right: 1px solid #e9e9e9;
}
.sppb-addon-tab .sppb-nav-tabs li:last-child {
  border-right: none;
}
.sppb-addon-tab .sppb-nav-tabs li:first-child {
  padding-left: 0;
}
.sppb-addon-tab .sppb-nav-tabs li > a {
  font-size: 16px;
  font-weight: 500;
  padding: 0 0 15px 0;
  color: #a8a8a8;
  border: 0;
  border-radius: 0;
}
.sppb-addon-tab .sppb-nav-tabs li > a:hover,
.sppb-addon-tab .sppb-nav-tabs li > a:focus {
  background-color: transparent;
  border: none;
  outline: none;
}
.sppb-addon-tab .sppb-nav-tabs li.active > a {
  color: #4f5e7f;
}
.sppb-addon-tab .sppb-tab-pane {
  padding: 20px 0;
}
.sppb-addon-tab .sppb-tab-pane >div p {
  padding-right: 20px;
  float: left;
  color: #a8a8a8;
}
.sppb-addon-tab .sppb-nav-tabs li > a {
  display: inline-block;
  padding: 5px 0;
  position: relative;
  margin-right: 40px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.tab-content .content-image img {
  width: 100%;
}
.tab-content .content-detail .separator {
  margin: 40px 0 0 0;
}
.tab-content .content-detail .separator:first-child {
  margin: 30px 0 0 0;
}
.tab-content .content-detail .title {
  text-align: left;
}
.tab-content .content-detail .nav {
  padding-left: 40px;
  margin-top: 15px;
}
.tab-content .content-detail .nav li {
  margin-bottom: 10px;
  text-align: left;
}
.tab-content .content-detail .nav li:after {
  content: "\f05d";
  font-family: 'FontAwesome';
  font-size: 18px;
  position: absolute;
  left: -40px;
  color: #4f5e7f;
  top: -1px;
}
#sp-quickcontact-form input[type="text"],
#sp-quickcontact-form input[type="password"],
#sp-quickcontact-form input[type="email"],
#sp-quickcontact-form textarea#message {
  width: 100%;
}
#sp-quickcontact-form textarea#message {
  min-height: 135px;
}
.kprofilebox input[type="text"],
.kprofilebox input[type="password"] {
  display: inherit;
}
#Kunena .kbutton {
  background-color: #4f5e7f;
}
#Kunena .kbutton:hover {
  outline: none;
  background-color: #63759e;
}
#Kunena .button,
#Kunena .kbutton {
  padding: 5px 15px !important;
  outline: none;
}
#Kunena img {
  max-width: none !important;
  display: inline-block !important;
}
#Kunena .kfile-hide input {
  color: #fff !important;
}
#Kunena td.kprofileboxcnt ul.kprofilebox-welcome li input.kbutton {
  cursor: pointer;
  background: #4f5e7f;
}
#Kunena td.kprofileboxcnt ul.kprofilebox-welcome li input.kbutton:hover,
#Kunena td.kprofileboxcnt ul.kprofilebox-welcome li input.kbutton:focus {
  background-color: #63759e;
}
#Kunena #jumpto .inputbox.fbs {
  display: inline-block;
  top: 2px !important;
  padding: 3px 2px !important;
}
#Kunena .inputbox {
  padding: 2px 0;
}
.com-kunena .tip {
  background: #333 !important;
  padding: 10px;
  color: #fff;
}
.feature-post .feature {
  position: relative;
}
.feature-post .feature p.image {
  overflow: hidden;
  margin: 0;
}
.feature-post .feature p.image a {
  display: inline-block;
  width: 100%;
}
.feature-post .feature p.image img {
  width: 100%;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
.feature-post .feature h3 {
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 18px;
  color: #fff;
}
.feature-post .feature h3 a {
  display: block;
  padding: 16px 20px;
  letter-spacing: 0.3px;
  color: #fff;
  background-color: rgba(79,94,127,0.9);
}
.feature-post .feature:hover h3 a {
  background-color: #4f5e7f;
  color: #fde428;
}
.feature-post .feature:hover p.image img {
  background-color: #2e5797;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
@media only screen and (max-width: 767px) {
  .feature-post .feature {
    margin-bottom: 15px;
  }
}
.icon-box {
  margin-bottom: 52px;
  cursor: crosshair;
}
.icon-box i {
  position: relative;
  top: 2px;
  font-size: 55px;
  float: left;
  color: #4f5e7f;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
.icon-box:hover i {
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.icon-box .text {
  padding-left: 84px;
}
.icon-box .text h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 19px;
}
.icon-box02 {
  text-align: center;
}
.icon-box02 h3 {
  margin-top: 35px;
  font-size: 18px;
  font-weight: 600;
}
.icon-box02 i {
  display: inline-block;
  width: 100px;
  height: 100px;
  padding-top: 30px;
  font-size: 40px;
  text-align: center;
  background-color: #efefef;
  color: #4f5e7f;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
.icon-box02:hover i {
  background: #fde428;
  color: #fff;
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.icon-box02 .text {
  padding: 0 20px;
}
.icon-box02 .text h3 {
  margin-bottom: 13px;
}
.icon-box02 .morelink a {
  display: inline-block;
  position: relative;
  margin-top: 14px;
  padding-right: 15px;
  font-size: 14px;
}
.icon-box02 .morelink a:after {
  content: '\f3d3';
  position: absolute;
  right: 0;
  top: 0;
  font-family: 'Ionicons';
  font-weight: 600;
}
.service-box [class^="icon-"],
.service-box [class*=" icon-"] {
  width: initial !important;
  line-height: 24px;
  height: inherit;
  display: inherit;
}
.about .sppb-image-content-title {
  font-size: 40px;
  font-weight: bold;
}
.intro-text {
  display: block;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.3px;
  color: #4f5e7f;
  margin-top: 14px;
}
.testimonial-box {
  list-style: none;
  padding-top: 82px;
  padding-bottom: 55px;
}
.testimonial-box .wrapper {
  margin: 0 -16px;
}
.testimonial {
  padding: 33px 0;
  list-style: none;
}
.testimonial.owl-carousel .owl-item .item {
  margin: 0 16px;
}
.testimonial .image {
  float: left;
  width: 27%;
  margin: 0;
}
.testimonial .text {
  display: inline-block;
  position: relative;
  top: -2px;
  float: right;
  width: 69%;
  padding-left: 4px;
  font-size: 15px;
  line-height: 28px;
}
.testimonial .text span.name {
  display: block;
  margin-top: 32px;
  font-size: 18px;
  font-weight: 600;
  color: #4f5e7f;
}
.testimonial .text span.position {
  display: block;
  font-size: 13px;
}
.acy-bg {
  background: #4f5e7f !important;
}
.acyfield_email .inputbox {
  height: 54px;
}
.more-info h3 {
  font-size: 35px;
  font-weight: 600;
  color: #fff;
}
.more-info p {
  font-size: 16px;
  color: #fff;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: 0.5;
}
.more-info input[type="email"] {
  width: 342px;
  font-size: 12px;
  font-weight: 400;
  margin-right: 132px;
  -webkit-border-radius: 3px 0 0 2px;
  -moz-border-radius: 3px 0 0 2px;
  border-radius: 3px 0 0 2px;
}
.more-info input[type="submit"] {
  position: absolute;
  right: 15px;
  height: 54px;
  text-transform: capitalize;
  border: none;
  display: inline-block;
  vertical-align: middle;
  outline: none;
  background-color: #fde428;
  font-size: 14px;
  font-weight: 700;
  color: #333;
}
.more-info input[type="submit"]:hover,
.more-info input[type="submit"]:focus {
  outline: none;
  box-shadow: none !important;
}
.acy-mail {
  margin-top: 30px;
}
.more-info input[type="submit"]:hover {
  color: #fff;
}
table.acymailing_form {
  margin: inherit;
}
.f1 .footer-logo {
  margin: 17px 0 34px 4px;
}
.f1 .description {
  font-weight: 500;
  letter-spacing: 0.4px;
  margin-bottom: 32px;
}
.f1 .footer-info p.phone {
  padding-left: 35px;
  font-size: 20px;
  font-weight: 500;
  left: 24px;
  color: #4f5e7f;
  background: url(../images/icon-phone.png) no-repeat 0 0;
}
.f1 .footer-info p.phone span {
  display: block;
  font-size: 14px;
  font-style: italic;
  color: #757575;
}
.f2 i {
  display: inline-block;
  position: relative;
  top: 2px;
  width: 10px;
  margin-right: 22px;
  font-size: 19px;
}
.f3 .ourservices li {
  position: relative;
  padding-left: 18px;
  margin-bottom: 10px;
  font-weight: 400;
  letter-spacing: 0.1px;
}
.f3 .ourservices li:before {
  content: "\f363";
  position: absolute;
  left: 0;
  top: 2px;
  font-family: "Ionicons";
  font-size: 19px;
}
.f4 span {
  display: block;
  margin-bottom: 23px;
}
.f4 p {
  margin-bottom: 12px;
}
.sidebar-nav {
  margin-bottom: 40px;
}
.sidebar-nav ul {
  padding: 0;
  list-style: none;
}
.sidebar-nav ul li a {
  display: block;
  padding: 15px 20px 11px 20px;
  margin-bottom: 2px;
  color: #333;
  font-weight: 700;
  background-color: #f0f0f0;
}
.sidebar-nav ul li a.active {
  padding-left: 16px;
  border-left: 4px solid #4f5e7f;
}
.sidebar-nav ul li a:hover {
  background-color: #f9f9f9;
}
h2.title.center:after {
  left: 50%;
  margin-left: -25px;
}
h2.title:after {
  width: 50px;
  height: 5px;
  position: absolute;
  content: "";
  bottom: -25px;
  left: 0;
  background-color: #fde428;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
h2.title.center {
  text-align: center;
}
h2.title {
  position: relative;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 60px;
}
.page-about h2.title-post {
  font-size: 20px;
  font-weight: 700;
  margin-top: 22px;
  margin-bottom: 13px;
}
.page-about p {
  margin-bottom: 15px;
}
.page-about ul {
  list-style: none;
  margin-bottom: 54px;
}
.page-about ul li {
  margin-bottom: 10px;
}
.page-about ul li span {
  float: left;
  width: 11%;
  font-size: 20px;
  font-weight: 700;
  margin-top: 1px;
  color: #333;
}
.page-about ul li div {
  position: relative;
  float: right;
  width: 89%;
  padding-left: 44px;
  padding-bottom: 49px;
}
.page-about ul li div:before {
  content: "";
  position: absolute;
  left: -6px;
  top: 18px;
  width: 1px;
  height: 95%;
  background-color: #e3e3e3;
}
.page-about ul li div:after {
  content: "";
  position: absolute;
  left: -11px;
  top: 3px;
  width: 11px;
  height: 11px;
  background-color: #4f5e7f;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.page-about ul li div h3 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 11px;
  color: #333;
}
.brochure {
  margin-bottom: 42px;
  padding: 28px 18px 14px 24px;
  border: 1px solid #ccc;
  font-size: 13px;
}
.brochure h3 {
  margin-top: 0;
  margin-bottom: 9px;
  font-size: 18px;
  font-weight: 600;
}
.brochure p {
  margin-bottom: 18px;
}
.page-service .brochure p {
  margin-bottom: 18px;
}
.brochure .btn-brochure {
  margin-bottom: 20px;
}
.brochure .btn-download a {
  position: relative;
  width: 97%;
  margin-bottom: 0;
  padding: 12px 19px 9px;
  font-weight: 300;
  letter-spacing: 0.2px;
}
.brochure .btn-download a:after {
  background: url(../images/icon_pdf_white.png) no-repeat;
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  top: 15px;
  right: 3px;
}
.btn-cons a {
  position: relative;
  display: inline-block;
  padding: 13px 30px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  background-color: #4f5e7f;
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-cons a:hover {
  background-color: #133974;
  color: #fff;
}
.testimonials-sidebar {
  position: relative;
  padding: 28px 24px 24px 24px;
  border: 1px solid #ccc;
}
.testimonials-sidebar:after {
  position: absolute;
  bottom: 16px;
  right: 6px;
  content: '\f11d';
  font-family: 'Ionicons';
  color: #e5e5e5;
  font-size: 60px;
}
.testimonials-sidebar h3 {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 600;
  color: #333;
}
.testimonial03 .text {
  font-size: 13px;
}
.testimonial03 .media {
  position: relative;
  margin-top: 22px;
}
.testimonial03 .media img {
  position: absolute;
  left: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.testimonial03 .media span {
  display: inline-block;
  min-height: 50px;
  padding-left: 65px;
  font-weight: 600;
  color: #4f5e7f;
}
.testimonial03 .media span em {
  font-size: 12px;
  font-style: italic;
  font-weight: 300;
  color: #b3b3b3;
  display: block;
  position: relative;
  top: -3px;
}
.page-team {
  margin-bottom: 50px;
}
.page-team .sidebar {
  margin-top: 70px;
}
.teammember {
  margin: 0 -15px;
}
.teammember article,
.teammember.three-cols article {
  width: 33.3333%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 42px;
}
.teammember.two-cols article {
  width: 50%;
}
.teammember.four-cols article {
  width: 25%;
}
.teammember article h3 {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 600;
  color: #4f5e7f;
}
.teammember article .media img {
  width: 100%;
}
.teammember article span {
  display: inline-block;
  margin-bottom: 17px;
  font-style: italic;
}
.teammember article .description {
  margin-bottom: 5px;
}
.teammember article .readmore a {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0;
  position: relative;
  background: none;
  color: #333;
}
.teammember article .readmore a:hover {
  color: #5a5a5a;
}
.teammember article .readmore a i {
  position: relative;
  top: 2px;
  margin-left: 9px;
  font-size: 20px;
}
.teammember.list article {
  width: 100%;
  margin-bottom: 30px;
}
.teammember.list article:last-child {
  margin-bottom: 38px;
}
.teammember.list article .media {
  width: 31%;
  float: left;
  margin-right: 30px;
}
.teammember.list article h3 {
  margin-top: 2px;
}
.teammember.list article .readmore a {
  display: inline-block;
  margin-top: 22px;
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  background-color: #333;
  padding: 11px 20px 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.teammember.list article .readmore a:hover {
  background-color: #4f5e7f;
}
.teammember.list article .readmore a i {
  display: none;
}
@media only screen and (max-width: 767px) {
  .teammember article,
  .teammember.three-cols article {
    width: 50%;
  }
}
@media only screen and (max-width: 479px) {
  .teammember article,
  .teammember.three-cols article {
    width: 100%;
  }
}
.page-services article {
  margin-bottom: 72px;
}
.page-services article .media img {
  width: 100%;
}
.page-services article h3 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.1px;
  margin-top: 30px;
  margin-bottom: 13px;
}
