/**
 * @package Helix V3 Framework
 * @author JoomShaper http://www.joomshaper.com
 * @copyright Copyright (c) 2010 - 2015 JoomShaper
 * @license http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 or later
 */

/*=========================================
 *======= 	 Megamenu	   ============
 *=======================================*/
  .sp-megamenu-parent {
  	list-style: none;
  	padding: 0;
  	margin: 0;
  	z-index: 9;
  	display: block;
  	float: left;
  	>li {
  		display: inline-block;
  		position: relative;
  		padding: 0;
 	    height: 80px;
 	    line-height: 80px;
  		&.menu-justify {
  			position: static;
  		}

  		>a {
  			display: inline-block;
  			padding: 0;
  			font-size: 16px;
        font-family: 400;
  			line-height: 35px;
        margin-right: 20px;
  			color: #fff;
  			position: relative;
  		}

  		&.sp-has-child>a{
  			padding-right: 0px;
  			// &:after{
  			// 	font-family: "FontAwesome";
  			// 	content: " \f107";
  			// 	position: absolute;
  			// 	top: 0;
  			// 	right: 10px;
  			// }
  		}


  		&.active>a,
  		&:hover>a {
  			&:before{
  				width: 100%;
  			}
  		}

  	}

  	.sp-module {
  		padding: 10px;
  	}

  	.sp-mega-group {
  		list-style: none;
  		padding: 0;
  		margin: 0;

  		.sp-mega-group-child {
  			list-style: none;
  			padding: 0;
  			margin: 0;
  		}
  	}

  	.sp-dropdown {
  		margin: 0;
  		position: absolute;
  		z-index: 10;
  		display: none;

  		.sp-dropdown-inner {
  			background-color: #fff;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
  			padding: 0px;
  			>.row [class*="col-sm-"]{
  				border-right: 1px solid rgba(0,0,0,0.07);
  				&:last-child{
  					border-right: none;
  				}
  			}
  		}

  		.sp-dropdown-items {
  			list-style: none;
  			padding: 0;
  			margin: 0;

  			.sp-has-child>a:after{
  				font-family: "FontAwesome";
  				content: " \f105";
  				float: right;
  			}
  		}

  		&.sp-menu-center {
  			margin-left: 45px;
  		}

  		&.sp-dropdown-main {
  			top: 100%;
  			z-index: 15;
  			&.sp-menu-right,
  			&.sp-menu-full {
  				left: 0;
  			}

  			&.sp-menu-left {
  				right: 0;
  			}
  		}

  		&.sp-dropdown-sub {
  			top: 0;
  			left: 100%;
  			.sp-dropdown-inner {
  				box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  			}
  		}

 		//List Item
 		li.sp-menu-item { //child sub
 			display: block;
 			padding: 0;
 			position: relative;
 			height: auto;
 		  line-height: normal;
 			&:last-child{border-bottom: none;}
 			>a {
 				display: block;
 				padding: 10px 20px;
 				color: #393641;
 				cursor: pointer;
 				font-size: 14px;
 				letter-spacing: .5px;
 				.transition(.3s);
 				&.sp-group-title {
 					color: #2e2e2e;
 					text-transform: uppercase;
 					font-weight: bold;
 				}

 				&:not(.sp-group-title):hover {
 					color: #fff;
 				}
 			}
 			&.active>a:not(.sp-group-title) {
 				color: @major_color;
 			}

 		}
 	}

 	.sp-dropdown-mega {
 		>.row {
 			margin-top: 30px;
 			&:first-child {
 				margin-top: 0;
 			}
 		}
 	}

 	//Has Child
 	.sp-has-child {
 		&:hover {
 			>.sp-dropdown {
 				display: block;
 			}
 		}
 	}

 	//Fade Animation
 	&.menu-fade {
 		.sp-has-child:hover {
 			>.sp-dropdown {
 				-webkit-animation: spMenuFadeIn 400ms;
 				animation: spMenuFadeIn 400ms;
 			}
 		}
 	}

 	//Zoom Animation
 	&.menu-zoom {
 		.sp-has-child:hover {
 			>.sp-dropdown {
 				-webkit-animation: spMenuFadeInDown 400ms;
 				animation: spMenuFadeInDown 400ms;
 			}
 		}
 	}

 	//Fade in up Animation
 	&.menu-fade-up {
 		.sp-has-child:hover {
 			>.sp-dropdown {
 				-webkit-animation: spMenuFadeInUp 400ms;
 				animation: spMenuFadeInUp 400ms;
 			}
 		}
 	}
 }


 /*=========================================
  *======= 	Off Canvas   ============
  *=======================================*/
 #offcanvas-toggler {
  	float: left;
  	line-height: 80px;
  	>i {
  		.transition(~'color 400ms, background-color 400ms');
  		&:hover {
  			color: #fff;
  		}
  	}
  }

  .offcanvas-overlay {
  	opacity: 0;
  	-webkit-transition: all .35s;
  	transition: all .35s;
  }

  body.offcanvas {
  	.offcanvas-overlay {
  		position: absolute;
  		top: 0;
  		left: 0;
  		bottom: 0;
  		right: 0;
  		background: rgba(0, 0, 0, 0.8);
  		opacity: 1;
  		z-index: 9999;
  	}
  }
 .body-innerwrapper{
 	overflow-x: hidden;
 	-webkit-transition: right .35s;
     transition: right .35s;
     -webkit-transition-timing-function: ease-in-out;
 	transition-timing-function: ease-in-out;
 	right: 0;
 }

  .close-offcanvas {
  	position: absolute;
  	top: 15px;
  	right: 15px;
  	z-index: 1;
  	border-radius: 50%;
  	width: 25px;
  	height: 25px;
  	line-height: 23px;
  	text-align: center;
  	font-size: 16px;
  	border: 1px solid #ececec;
  	color: #999;
  }

  .offcanvas-menu {
  	width:  320px;
  	height: 100%;
  	background-color: #fff;
  	color: #5f5f5f;
  	position: fixed;
  	top: 0;
  	right: -320px;
  	z-index: 99999;
  	overflow: inherit;
  	-webkit-transition: right .35s;
     transition: right .35s;
     -webkit-transition-timing-function: ease-in-out;
 	   transition-timing-function: ease-in-out;
  	.offcanvas-inner {
  		.sp-module {
  			margin-top: 20px;
  			border-bottom: 1px solid rgba(0,0,0,0.08);
  			margin-bottom: 50px;
  			&:after{
  				display: none;
  			}

  			&:last-child{
  				border-bottom: none;
  				margin-bottom: 0;
  			}

  			&.off-canvas-menu{
  				padding: 0;
  			}

  			.sp-module-title {
  				font-size: 16px;
  				line-height: 1;
  				text-transform: uppercase;
  			}

  			ul {
  				> li{
  					border: 0;
  					position: relative;
  					border-bottom: 1px dashed #f2f2f2;
  					a {
  						.transition(300ms);
  						padding:10px 20px;
  						font-size: 14px;
  						text-transform: uppercase;
  						color: #5f5f5f;
  						font-weight: 500;
  						line-height: 28px;
  						&:before {
  							content: '';
  							width: 0;
  							height: 15px;
  							background-color: @major_color;
  							float: left;
  							position: relative;
  							top: 7px;
  							margin-right: 5px;
  							-webkit-transition: 400ms;
  							-o-transition: 400ms;
  							transition: 400ms;
  						}
  					}
  					&:hover, &.active{
  						>a{
  							background: rgba(0,0,0,0.04);
 							color: @major_color;
  							&:before{
  								width: 3px;

  							}
  						}
  					}

  					.offcanvas-menu-toggler {
  						display: inline-block;
  						position: absolute;
  						top: 0;
  						right: 0;
  						padding:13px 20px;
  						cursor: pointer;
  						.fa-plus {
  							display: none;
  						}

  						.fa-minus {
  							display: inline;
  						}

  						&.collapsed {
  							.fa-plus {
  								display: inline;
  							}
  							.fa-minus {
  								display: none;
  							}
  						}
  					}

  					>a:after  {
  						display: none;
  					}

  					ul {
  						background: rgba(0,0,0,0.02);
  						>li > a{padding-left: 30px;}
  					}
  				}
  			}

  			&:first-child {
  				margin-top: 15px;
 				padding: 30px 0;
  			}
  		}
  		.search {
  			margin-top: 25px;
  			input {
  				width: 100%;
  				background: transparent;
  				border-color: #5f5f5f;
  			}
  		}
  	}
  }

  .ltr {

  	.offcanvas-menu {
  		.transition(.4s);
  	}

  	.body-innerwrapper:after {
  		right: 0;
  	}

  	.offcanvas-menu {
  		right: -320px;
  	}

  	&.offcanvas {
  		.offcanvas-menu {
  			right: 0;
  		}
  	}
  }

  .offcanvas {
  	width: 100%;
  	height: 100%;
  	position: relative;

  	.body-innerwrapper:after {
  		width: 100%;
  		height: 100%;
  		opacity: 1;
  		-webkit-transition: opacity 0.35s;
  		transition: opacity 0.35s;
  	}

  	.offcanvas-menu {
  		right: 0;

  		ul.nav-child li {
  			padding-left: 10px;
  		}
  	}
  }

  .menu .nav-child.small {
  	font-size: inherit;
  }
 /*=========================================
  *======= 	Menu Animation   ============
  *=======================================*/
 @-webkit-keyframes spMenuFadeIn {
   0% {
   	opacity: 0;
   }

   100% {
   	opacity: 1;
   }
 }

 @keyframes spMenuFadeIn {
   0% {
   	opacity: 0;
   }

   100% {
   	opacity: 1;
   }
 }

 @-webkit-keyframes spMenuZoom {
   0% {
   	opacity: 0;
   	-webkit-transform: scale(.8);
   }

   100% {
   	opacity: 1;
   	-webkit-transform: scale(1);
   }
 }

 @keyframes spMenuZoom {
   0% {
   	opacity: 0;
   	transform: scale(.8);
   	-webkit-transform: scale(.8);
   }

   100% {
   	opacity: 1;
   	transform: scale(1);
   	-webkit-transform: scale(1);
   }
 }

 @-webkit-keyframes spMenuFadeInUp {
   0% {
     opacity: 0;
     -webkit-transform: translate3d(0, 30px, 0);
   }

   100% {
     opacity: 1;
     -webkit-transform: none;
   }
 }

 @keyframes spMenuFadeInUp {
   0% {
     opacity: 0;
     transform: translate3d(0, 30px, 0);
   }

   100% {
     opacity: 1;
     transform: none;
   }
 }
