/**
 * @package Helix Framework
 * @author JoomShaper http://www.joomshaper.com
 * @copyright Copyright (c) 2010 - 2014 JoomShaper
 * @license http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 or later
*/

@import 'variables';
@import 'mixins';


// Anchor
a{
	color: @major_color;
	&:hover {
		color: darken(@major_color, 10%);
	}
}

// Megamenu
.sp-megamenu-parent {
	>li {
		&.active>a,
		&:hover>a {
			color: #d3d3d3;
			border-radius: 2px;
		}
	}

	.sp-dropdown {
		li.sp-menu-item {
			>a {

				&:hover {
				color: @major_color !important;
				}
			}
			&.active>a {
				color: @major_color;
			}
		}
	}

}

// Off Canvas
#offcanvas-toggler {
	>i {
		color: #999;
		&:hover {
			color: @major_color;
		}
	}
}

//Button
.btn-primary,
.sppb-btn-primary,{
	background-color: @major_color;
	color: #fff;

	&:hover,
	&:focus,
	&:active {
		color: #fff;
		background-color: darken(@major_color, 10%);
	}
}
.btn-info,
.sppb-btn-info {
	&:hover,
	&:focus,
	&:active {
	}
}
// Topbar Social
ul.social-icons {

	>li {

		a {

			&:hover {
				color: @major_color;
			}
		}
	}
}

// Page Title
.sp-page-title {
	//background: @major_color;
}

// Body Innerwrapper

.layout-boxed .body-innerwrapper {
	background: @bg_color;
}

// Module
.sp-module {
	ul {
		>li {
			>a {
				color: #999;
				&:hover {
					color: @major_color;
				}
			}
		}
	}

	.latestnews {
		>div {
			>a {
				color: @text_color;
				&:hover {
					color: @major_color;
				}
			}
		}
	}

	.tagscloud {
		.tag-name {
			&:hover {
				background: @major_color;
			}
		}
	}
}

// sp Simple Portfolio
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li.active > a,
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li > a:hover {
	background: @major_color;
	color: #fff;
}

// Search
.search {
	.btn-toolbar {
		button {
			background: @major_color;
		}
	}
}


// Blog
.post-format {
	background: @major_color;
}

.voting-symbol{
	span.star.active:before{
		color: @major_color;
	}
}

.sp-rating {
	span.star:hover:before,
	span.star:hover ~ span.star:before {
		color: darken(@major_color, 10%);
	}
}

.entry-link,
.entry-quote {
	background: @major_color;
}

blockquote {
	border-color: @major_color;
}

.carousel-left,
.carousel-right {

	&:hover {
		background: @major_color;
	}
}

// Footer
#sp-footer {
	background: #fff;
}

// Comingsoon
.sp-comingsoon body {
	background-color: @major_color;
}

// Pagination
.pagination>li>a,
.pagination>li>span {
	color: @text_color;
	&:hover,
	&:focus {
		color: @text_color;
	}
}

.pagination>.active>a,
.pagination>.active>span {
	border-color: @major_color;
	background-color: @major_color;
	&:hover,
	&:focus {
		border-color: @major_color;
		background-color: @major_color;
	}
}
