/**
 * @package Helix Framework
 * @author JoomShaper http://www.joomshaper.com
 * @copyright Copyright (c) 2010 - 2015 JoomShaper
 * @license http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 or later
*/
/*=======================================*
 *======= 	TABLE OF CONTENT	 ========*
 *=======================================*

	01. Base Style
	01. Button & Input
	03. Top Bar
	04. Header
	05. Page Title
	06. body innerwrapper
	07. Page Builder Addons
	08. Module
	09. Login Form
	10. Search
	11. Blog
	12. Bottom
	13. Footer
	14. Comingsoon
	15. Error page
	16. Mixed CSS

=======================================*/
/*=========================================
 *======= 	 Start Base Style	   ============
 *=======================================*/

a {
    -webkit-transition: color 400ms, background-color 400ms;
    transition: color 400ms, background-color 400ms;
}
body {
    line-height: 24px;
}
a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}
label {
    font-weight: normal;
}
legend {
    padding-bottom: 10px;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
/*End Base Style
*=======================================*/
/*=========================================
 *======= 	 Start Button	   ============
 *=======================================*/

// Button styles
.btn,
.sppb-btn {
    border: none;
    border-radius: 0;
    line-height: 40px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 500;
    background: #f7f6f5;
    color: #999;
    .transition(~'color 400ms, background-color 400ms, border-color 400ms');
    &:hover, &:focus, &:active {
        color: #fff;
    }
}

//Offline
.offline-inner {
    margin-top: 100px;
}
//input
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    .form-control();
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    &:focus {
        -webkit-box-shadow: none;
        box-shadow: none;
        outline: none;
        border-color: @major_color;
    }
}
.group-control {
    select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
        width: 100%;
        box-shadow: none;
    }
}
.form-links {
    margin-top: 30px;
    ul {
        list-style: none;
        padding: 0;
        margin: 0 -5px;
        text-align: center;
        >li {
            display: inline-block;
            margin: 0 5px;
        }
    }
}


@media (max-width: 480px) {
    ul.social-icons {
      float: left !important;
    }
}

/*End Button
*=======================================*/
/*=========================================
*======= 	Start  Top Bar	   ============
*=======================================*/

#sp-top-bar {
    background: #f0f0f0 !important;
    a {
        color: #fff;
        &:hover {
            color: #fff;
        }
    }
    .sp-module {
        display: inline-block;
        margin: 0 0 0 20px;
    }
    .sp-module ul >li >a {
      font-size: 13px;
      padding: 0;
      i {
        color: 16px;
      }
    }
}
#sp-top-bar a {
    color: #fff;
    line-height: 50px;
    height: 50px;
    color: #535353;
}
ul.social-icons {
    list-style: none;
    float: right;
    padding: 0;
    margin: -5px;
    display: inline-block;
    >li {
        display: inline-block;
        margin: 5px 7px;
        a {
            color: #999999;
        }
    }
}
.sp-contact-info i {
    color: #535353;
}
.left ul li:first-child {
    margin-left: 0 !important;
}
.topbar .left p {
	font-weight: 600;
	margin-right: 1px;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 0;
	color: #222222;
}
.topbar .left ul,
.topbar .right ul {
	display: inline-block;
	position: relative;
	list-style: none;
	vertical-align: middle;
	margin: 0;
}
.topbar .left ul li {
	float: left;
	margin-left: 25px;
}
.topbar ul li a {
	color: #535353 !important;
}
.topbar ul li a:hover {
	color: #070707;
}
.topbar .sp-module {
    padding: 0 !important;
    margin: 0 !important;
}
.topbar .sp-module ul >li {
    border-bottom: none;
}
.topbar .sp-module ul >li >a:before {
    display: none;
}
#sp-header-info {
  margin-top: 20px;
}
.header-top .info {
	display: inline-block;
	vertical-align: middle;
	float: right;
}
.header-top .info p {
	margin: 0;
}
.header-top .info .address,
.header-top .info .open-hours,
.header-top .info .address .icon,
.header-top .info .address .text,
.header-top .info .open-hours .icon,
.header-top .info .open-hours .text {
	display: inline-block;
	vertical-align: middle;
}
.header-top .info .address {
	margin-right: 65px;
}
.header-top .info .open-hours {
	margin-right: 5px;
}
.header-top .info .icon {
	margin-right: 10px;
	font-size: 21px;
	text-align: center;
	width: 45px;
	height: 45px;
	padding-top: 10px;
	border: 2px solid #363636;
	border-radius: 50%;
	/* line-height: 80px; */
	/* height: 80px; */
}
.header-top .info .text {
	font-size: 14px;
	line-height: 22px;
	font-weight: 600;
	color: #333333;
}
.header-top .info .text span {
	font-size: 12px;
	font-weight: normal;
	color: #535353;
}
.header-top .info .address .text span {
	margin-left: 3px;
}

// language switcher
.sp-module-content {
    .mod-languages {
        ul.lang-inline {
            margin: 0;
            padding: 0;
            li {
                border: none;
                display: inline-block;
                margin: 0 5px 0 0;
                a {
                    padding: 0 !important;
                }
                >a:before {
                    display: none;
                }
            }
        }
    }
}
.sp-contact-info {
    float: left;
    list-style: none;
    padding: 0;
    margin: 0 -10px;
    li {
        display: inline-block;
        margin: 0 10px;
        font-size: 14px;
        color: #fff;
        font-weight: 400 !important;
        i {
            margin: 0 3px;
        }
    }
}
/* End  Top Bar
*=======================================*/

/*=========================================
*======= 	Start  Header	   ============
*=======================================*/
#sp-header{
	background: #ffffff;
	height: 80px;
	position: relative;
  z-index: 999;
	.logo {
		display: inline-block;
		height: 80px;
		display: table;
		h1 {
			font-size: 24px;
			line-height: 1;
			margin: 0;
			padding: 0;
			display: table-cell;
			vertical-align: middle;
		}

		p {
			margin: 5px 0 0;
		}
	}

	.sp-retina-logo {
		display: none;
	}

}
#sp-navigation {
  background: @major_color;
}
.get-appointment {
  a {
      line-height: 80px;
      height: 80px;
      position: relative;
      letter-spacing: 0.2px;
      text-transform: uppercase;
      font-size: 14px;
      color: #fff;
      display: inline-block !important;
      background-color: darken(@major_color, 20%);
      padding: 0 30px;
      &:hover {
        color: #fde428;
      }
  }
}
#sp-menu-right {
  p {
    text-align: right;
    margin: 0 !important;
  }
}
.sticky-wrapper.is-sticky {
    position: relative;
    z-index: 999;
}

#offcanvas-toggler {
    margin-left: 10px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
    #sp-header {
        .sp-default-logo {
            display: none;
        }
        .sp-retina-logo {
            display: block;
        }
    }
}
/* End  Header
*=======================================*/
/*=========================================
*======= 	Start  Page Title   ============
*=======================================*/

#sp-title {
    min-height: 0;
    background-image: url(../images/bg_breadcrumb.jpg);
    background-size: cover;
    background-position: center;
    &:before {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(54, 54, 54, 0.9);
}
}
.sp-page-title {
    position: relative;
    padding: 60px 0;
    text-transform: uppercase;
    h2, h3 {
        margin: 0;
        padding: 0;
        color: #fff;
    }
    h2 {
        font-size: 24px;
        line-height: 1;
    }
    h3 {
        font-size: 14px;
        font-weight: normal;
        line-height: 1;
        margin-top: 10px;
    }
    .breadcrumb {
        background: none;
        padding: 0;
        margin: 10px 0 0 0;
        >.active {
            color: rgba(255, 255, 255, 0.8);
        }
        >span,
        >li,
        >li+li:before,
        >li>a {
            color: #fff;
        }
    }
}
/* Start  Page Title
*=======================================*/
/*=========================================
 *===  Start body innerwrapper	 =====
 *=======================================*/

.body-innerwrapper {
    overflow-x: hidden;
    -webkit-transition: margin-left 400ms cubic-bezier(0.7, 0, 0.3, 1);
    transition: margin-left 400ms cubic-bezier(0.7, 0, 0.3, 1);
}
.layout-boxed {
  background: #f2f2f2;
  .body-innerwrapper {
    max-width: 1240px;
    margin: 0 auto;
    border: 1px solid #f2f2f2;
  }
  #sp-header {
    box-shadow: none;
    border-bottom: 1px solid #f2f2f2;
  }
}
#sp-main-body {
    padding: 50px 0;
}
.com-sppagebuilder #sp-main-body {
    padding: 0;
}
/* End body innerwrapper
*=======================================*/
/*=========================================
 *===  Start Page Builder Addons	 =====
 *=======================================*/

.sppb-addon-cta {
    .sppb-cta-subtitle {
        margin-bottom: 0;
        line-height: 26px !important;
    }
    .sppb-btn-lg {
        margin-top: 30px;
    }
}
.cta-bg {
    background: @major_color;
    .sppb-btn {
    background: transparent;
    border: 1px solid #fff;
    color: #fff !important;
    &:hover {
    background: #ccc;
    }
}
}
.custom-cta {
  .sppb-btn {
    background: rgba(0,0,0,0);
    border: 1px solid @major_color;
    color: @major_color;
    margin-top: 20px;
    &:hover {
      color: #fff;
      background-color: @major_color;
      border-color: @major_color;
    }
}
.text-blue {
    color: @major_color;
}
}
//Image content addon
.sppb-addon-image-content {
    position: relative;
    .sppb-image-holder {
        position: absolute;
        top: 0;
        width: 50%;
        height: 100%;
        background-position: 50%;
        background-size: cover;
    }
    &.aligment-left {
        .sppb-image-holder {
            left: 0;
        }
        .sppb-content-holder {
            padding: 120px 0 120px 50px;
        }
    }
    &.aligment-right {
        .sppb-image-holder {
            right: 0;
        }
        .sppb-content-holder {
            padding: 120px 50px 120px 0;
        }
    }
}
@media (max-width: @screen-sm-min) {
    .sppb-addon-image-content {
        .sppb-image-holder {
            position: inherit;
            width: 100% !important;
            height: 300px;
        }
    }
}
/* End Page Builder Addons
 *=======================================*/
/*=========================================
*======= 	Start  Module	   ============
*=======================================*/

.sp-module {
    margin-top: 50px;
    &:first-child {
        margin-top: 0;
    }
    .sp-module-title {
        margin: 0 0 20px;
        font-size: 14px;
        text-transform: uppercase;
        line-height: 1;
    }
    //Un-ordered List
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        >li {
            display: block;
            border-bottom: 1px solid #e8e8e8;
            -webkit-transition: 300ms;
            transition: 300ms;
            >a {
                display: block;
                padding: 5px 0;
                line-height: 36px;
                padding: 2px 0;
                -webkit-transition: 300ms;
                transition: 300ms;
                &:hover {
                    background: none;
                }
                &:before {
                    font-family: FontAwesome;
                    content: "\f105";
                    margin-right: 8px;
                }
            }
            &:last-child {
                border-bottom: none;
            }
        }
    }
    //List category
    .categories-module {
        ul {
            margin: 0 10px;
        }
    }
    //Latest News
    .latestnews {
        >div {
            padding-bottom: 5px;
            margin-bottom: 5px;
            border-bottom: 1px solid #e8e8e8;
            &:last-child {
                padding-bottom: 0;
                margin-bottom: 0;
                border-bottom: 0;
            }
            >a {
                display: block;
                font-weight: 400;
            }
        }
    }
    //Tags Cloud
    .tagscloud {
        margin: -2px 0;
        .tag-name {
            display: inline-block;
            padding: 5px 10px;
            background: #808080;
            color: #fff;
            border-radius: 4px;
            margin: 2px 0;
            span {
                display: inline-block;
                min-width: 10px;
                padding: 3px 7px;
                font-size: 12px;
                font-weight: 700;
                line-height: 1;
                text-align: center;
                white-space: nowrap;
                vertical-align: baseline;
                background-color: rgba(0, 0, 0, 0.2);
                border-radius: 10px;
            }
        }
    }
}
/* End  Module
*=======================================*/
/*=========================================
*======= 	Start  Login Form	 =========
*=======================================*/

.login {
    img {
        display: inline-block;
        margin: 20px 0;
    }
    .checkbox {
        input[type="checkbox"] {
            margin-top: 6px;
        }
    }
}
.form-links {
    ul {
        list-style: none;
        padding: 0;
    }
}
/* End  Login Form
*=======================================*/
/*=========================================
*======= 	Start  Search	   ============
*=======================================*/

.search {
    .btn-toolbar {
        margin-bottom: 20px;
        span.icon-search {
            margin: 0;
        }
        button {
            color: #fff;
        }
    }
    .phrases {
        .phrases-box {
            .controls {
                label {
                    display: inline-block;
                    margin: 0 20px 20px;
                }
            }
        }
        .ordering-box {
            margin-bottom: 15px;
        }
    }
    .only {
        label {
            display: inline-block;
            margin: 0 20px 20px;
        }
    }
    .search-results {
        dt.result-title {
            margin-top: 40px;
        }
        dt,
        dd {
            margin: 5px 0;
        }
    }
}
.filter-search {
    .chzn-container-single {
        .chzn-single {
            height: 34px;
            line-height: 34px;
        }
    }
}
.form-search {
    .finder {
        label {
            display: block;
        }
        .input-medium {
            width: 60%;
            border-radius: 4px;
        }
    }
}
.finder {
    .word {
        input {
            display: inline-block;
        }
    }
    .search-results.list-striped {
        li {
            padding: 20px 0;
        }
    }
}
/* End  Search
*=======================================*/
/*=========================================
*======= 	Start  Blog	   ============
*=======================================*/

.article-info {
    margin: 0 -8px 5px;
    line-height: 12px;
    >dd {
        display: inline-block;
        font-size: 14px;
        color: #b9b9b9;
        margin: 0 8px;
        >i {
            display: inline-block;
            margin-right: 3px;
        }
    }
}
article {
    &.item {
        margin-bottom: 50px;
    }
}
.tags {
    margin-top: 20px;
    >span {
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}
//Article Voting
.content_rating,
.content_rating + form {
    display: none;
}
.voting-symbol {
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: 14px;
    display: inline-block;
    span.star {
        font-family: "FontAwesome";
        font-weight: normal;
        font-style: normal;
        display: inline-block;
        &.active:before {
            content: "\f005";
        }
        &:before {
            content: "\f006";
            padding-right: 5px;
        }
    }
}
.sp-rating {
    span.star:hover:before, span.star:hover ~ span.star:before {
        content: "\f005";
        cursor: pointer;
    }
}
.post_rating {
    margin-bottom: 20px;
    .ajax-loader, .voting-result {
        display: none;
    }
}
.post-format {
    position: absolute;
    top: 0;
    left: -68px;
    display: block;
    width: 48px;
    height: 48px;
    font-size: 24px;
    line-height: 48px;
    text-align: center;
    color: #fff;
    border-radius: 3px;
}
.entry-image,
.entry-gallery,
.entry-video,
.entry-audio,
.entry-link {
    margin-bottom: 30px;
}
.entry-status,
.entry-quote {
    margin-bottom: 50px;
}
.entry-header {
    position: relative;
    margin-bottom: 30px;
    &.has-post-format {
        margin-left: 68px;
    }
    h2 {
        font-size: 24px;
        line-height: 1;
        a {
          color: #727272;
          text-transform: capitalize;
          font-size: 22px;
          line-height: 25px;
        }
    }
}
.entry-link {
    padding: 100px 50px;
    position: relative;
    z-index: 1;
    a {
        h4 {
            margin: 0;
            font-size: 36px;
            color: #fff;
            &:hover {
                color: rgba(255, 255, 255, 0.85);
            }
        }
    }
    &:before {
        position: absolute;
        left: -60px;
        font-size: 300px;
        content: "\f0c1";
        font-family: FontAwesome;
        transform: rotate(90deg);
        top: -75px;
        color: rgba(255, 255, 255, 0.15);
        z-index: -1;
    }
}
.entry-quote {
    position: relative;
    padding: 80px 50px;
    color: rgba(255, 255, 255, 0.9);
    &:before {
        position: absolute;
        left: -40px;
        font-size: 300px;
        content: "\f10e";
        font-family: FontAwesome;
        transform: rotate(15deg);
        top: -75px;
        color: rgba(255, 255, 255, 0.15);
    }
    blockquote small {
        color: #FFF;
        font-weight: 600;
        font-size: 20px;
    }
    blockquote {
        padding: 0;
        margin: 0;
        font-size: 16px;
        border: none;
    }
}
.carousel-left,
.carousel-right {
    position: absolute;
    top: 50%;
    font-size: 24px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    margin-top: -18px;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    -webkit-transition: 400ms;
    transition: 400ms;
    &:hover {
        color: #fff;
    }
    &:focus {
        color: #fff;
    }
}
.carousel-left {
    left: 10px;
}
.carousel-right {
    right: 10px;
}
.newsfeed-category {
    .category {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            padding: 5px 0;
        }
    }
    #filter-search {
        margin: 10px 0;
    }
}
.category-module,
.categories-module,
.archive-module,
.latestnews,
.newsflash-horiz,
.mostread,
.list-striped {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        padding: 2px 0;
        h4 {
            margin: 5px 0;
        }
    }
}
.form-links {
    list-style: none;
    padding: 0;
    li {
        padding: 2px 0;
        h4 {
            margin: 5px 0;
        }
    }
}
/* End  Blog
 *=======================================*/
/*=========================================
*======= 	Start  Bottom	   ============
*=======================================*/

#sp-bottom {
    background-color: #222 !important;
    color: #757575;
    font-size: 14px !important;
    font-weight: 400;
    .sp-module {
        .sp-module-title {
            text-transform: none;
            font-weight: 400;
            font-size: 24px;
        }
    }
}
/* End  Bottom
 *=======================================*/
/*=========================================
*======= 	Start  Footer	   ============
*=======================================*/

#sp-footer {
    color: #757575;
    background-color: #181818 !important;
    text-align: center;
    padding: 20px 0;
    a {
        color: @major_color;
        &:hover {
            color: #666;
        }
    }
}
#sp-footer-wrapper {
    ul {
        display: inline-block;
        &.nav {
            display: inline-block;
            list-style: none;
            padding: 0;
            margin: 0 5px;
            li {
                display: inline-block;
                margin: 0 5px;
                a {
                    display: block;
                    &:hover {
                        background: none;
                    }
                }
            }
        }
    }
    .helix-framework {
        display: inline-block;
        .helix-logo {
            display: block;
            width: 130px;
            height: 40px;
            text-indent: -9999px;
            background: url(../images/helix-logo-white.png) no-repeat 0 0;
        }
    }
    .copyright {
        display: block;
    }
}
.sp-copyright {
  float: left;
}
.totop {
 text-transform: uppercase;
 text-align: right;
 font-weight: 600;
}
.totop a {
 color: #757575;
}
.totop a:hover {
 color: #dcdcdc;
}
.totop a:hover img {
 -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
 filter: alpha(opacity=100);
 opacity: 1;
}
.totop img {
 position: relative;
 display: inline-block;
 top: -1px;
 margin-left: 8px;
 -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
 filter: alpha(opacity=70);
 opacity: 0.7;
 -webkit-transition: all 0.3s;
 -moz-transition: all 0.3s;
 -ms-transition: all 0.3s;
 -o-transition: all 0.3s;
 transition: all 0.3s;
}

/* End  Footer
 *=======================================*/
/*=========================================
*======= 	Start  Comingsoon	   ============
*=======================================*/

.sp-comingsoon {
    width: 100%;
    height: 100%;
    min-height: 100%;
    body {
        width: 100%;
        height: 100%;
        min-height: 100%;
        color: #fff;
    }
    .sp-comingsoon-title {
        margin-top: 130px;
        font-size: 42px;
        margin-bottom: 10px;
        font-weight: 700;
    }
    .sp-comingsoon-content {
        font-size: 28px;
        font-weight: 300;
    }
    .days,
    .hours,
    .minutes,
    .seconds {
        display: inline-block;
        margin: 80px 15px;
    }
    .days .number,
    .hours .number,
    .seconds .number,
    .minutes .number {
        width: 115px;
        height: 120px;
        line-height: 120px;
        border: 1px solid #fff;
        border-radius: 4px;
        display: inline-block;
        font-size: 48px;
        font-weight: bold;
    }
    .days .string,
    .minutes .string,
    .seconds .string,
    .hours .string {
        display: block;
        font-size: 18px;
        margin-top: 10px;
    }
    .social-icons li {
        display: inline-block;
        margin: 0 15px;
        a {
            color: rgba(255, 255, 255, 0.7);
            font-size: 24px;
            -webkit-transition: color 400ms;
            transition: color 400ms;
            &:hover {
                color: #fff;
            }
        }
    }
}
/* End  Comingsoon
 *=======================================*/
/*=========================================
*======= 	Start  Error Page	   ============
*=======================================*/

.error-page {
    width: 100%;
    height: 100%;
    min-height: 100%;
    body {
        width: 100%;
        height: 100%;
        min-height: 100%;
    }
    .error-page-inner {
        height: 100%;
        min-height: 100%;
        width: 100%;
        display: table;
        text-align: center;
        >div {
            display: table-cell;
            vertical-align: middle;
        }
    }
    .fa-exclamation-triangle {
        font-size: 64px;
        line-height: 1;
        margin-bottom: 10px;
    }
    .error-code {
        font-weight: bold;
        font-size: 96px;
        line-height: 1;
        margin: 0 0 10px 0;
        padding: 0;
    }
    .error-message {
        font-size: 24px;
        line-height: 1;
        margin-bottom: 30px;
    }
}
/* End  Error Page
 *=======================================*/
/*=========================================
*======= 	Start  Mixed CSS   ==========
*=======================================*/

.sp-social-share {
    ul {
        display: block;
        padding: 0;
        margin: 20px -5px 0;
        li {
            display: inline-block;
            font-size: 24px;
            margin: 0 5px;
        }
    }
}
// profile
.dl-horizontal {
    dt {
        margin: 8px 0;
        text-align: left;
    }
}
// page-header
.page-header {
    padding-bottom: 15px;
}
// featured contact
table.category {
    width: 100%;
    thead, tbody {
        >tr {
            border: 1px solid #f2f2f2;
            th, td {
                padding: 10px;
            }
        }
    }
}
//contact from
.contact-form {
    .form-actions {
        background: none;
        border: none;
    }
}
@media print {
    .visible-print {
        display: inherit !important;
    }
    .hidden-print {
        display: none !important;
    }
}
// sp portfolio
.sp-simpleportfolio .sp-simpleportfolio-filter {
    text-align: left;
}
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li > a {
    background: #2D2D2D;
    border-radius: 2px;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: 300ms;
    transition: 300ms;
}
.sp-simpleportfolio .sp-simpleportfolio-item .sp-simpleportfolio-btns a {
    border-radius: 0;
}

//ACY
table.acymailing_form {
    width: 80%;
}
td.acysubbuttons {
    padding-left: 5px;
}
td.acysubbuttons .button {
    padding: 12px 30px;
    margin-left: -30px;
}
.text-blue {
  color: @major_color;
}
#sp-page-builder hr {
    width: 60px;
    padding-bottom: 0 !important;
    border-width: 2px;
    border-color: @major_color;
}
.section-color {
  background: @major_color;
  .sppb-btn {
      border: 1px solid #fff;
      background: rgba(0,0,0,0);
      color: #fff;
      &:hover {
        background: #fff;
        color: #999;
      }
  }
}

/* End  Mixed CSS
 *=======================================*/

.sppb-addon-cta .sppb-row {
    display: table;
    width: 100%;
}
@media only screen and (max-width: 768px) {
  .sppb-addon-cta .sppb-row >div {
    display: inherit;
    float: left;
  }
  .sppb-addon-cta .sppb-btn {
    margin-top: 15px;
  }
}

#sp-bottom #sp-bottom1, #sp-bottom #sp-bottom2, #sp-bottom #sp-bottom3, #sp-bottom #sp-bottom4 {
    margin-bottom: 40px;
}
//Slideshow
@media only screen and (min-width: 992px) {
  .tp-caption.finewide_medium_white, .finewide_medium_white {
    font-weight: bold !important;
    color: #222;
    text-transform: none;
    font-size: 58px !important;
    letter-spacing: 0 !important;
    text-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 1px;
    line-height: 75px !important;
    font-family: "Poppins", sans-serif !important;
  }
}
.tp-caption.finewide_medium_white, .finewide_medium_white {
  font-weight: bold !important;
  color: #222;
  text-transform: none;
  text-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 1px;
  font-family: "Poppins", sans-serif !important;
}
.tp-caption.finewide_large_white, .finewide_large_white {
  color: #fff !important;
  font-weight: 600;
}

.tp-caption.small_thin_grey, .small_thin_grey {
  color: #222;
  font-family: "Poppins", sans-serif !important;
}
.tp-caption.greenbox30, .greenbox30 {
  background-color: @major_color;
}

//contact from
.contact-form {
    .form-actions {
        background: none;
        border: none;
    }
}

.address_info {
	float: left;
	background-color: #f9f9f9;
	border: 1px solid #e1e1e1;
	padding: 20px 0px;
	width: 99%;
	margin-bottom: 40px;
  h4 {
      font-size: 22px;
      line-height: 25px;
      margin-bottom: 18px;
      font-style: normal;
  }
}
.address_info ul {
    list-style: none;
}
#sp-quickcontact-form {
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    color: #454545;
    float: left;
    width: 100%;
    padding: 9px 12px;
    margin-bottom: 10px;
    border: 1px solid #eee;
    height: 43px;
    background: #f9f9f9;
    -webkit-box-shadow: inset 1px 0px 2px 0px rgba(238,238,238,1);
    -moz-box-shadow: inset 1px 0px 2px 0px rgba(238,238,238,1);
    box-shadow: inset 0px 1px 2px 0px rgba(238,238,238,1);
}
.button {
    float: left;
    margin-top: 10px;
    color: #fff;
    padding: 14px 20px;
    font-size: 14px;
    font-weight: 500;
    background: @major_color;
    border: 1px solid @major_color;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
    	background: #454545;
    	border: 1px solid #393939;
    }
}
}
@media print {
    .visible-print {
        display: inherit !important;
    }
    .hidden-print {
        display: none !important;
    }
}
// sp portfolio
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li > a {
    background: rgba(0, 0, 0, 0);
    border: 1px solid #dcdfe0;
    color: #acb4b6;
    .transition(.3s);
    padding: 6px 20px;
}
.sp-simpleportfolio .sp-simpleportfolio-item .sp-simpleportfolio-overlay-wrapper .sp-simpleportfolio-overlay {
   background: rgba(0,0,0,0.9) !important;
}
.sp-simpleportfolio {
    .sp-simpleportfolio-item {
        .sp-simpleportfolio-overlay {
            padding: 30px !important;
        }
        .sp-simpleportfolio-info {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            text-align: center;
            background-color: transparent;
            z-index: 5;
            color: #fff;
            &:hover {
                background-color: transparent;
            }
        }
        .sp-simpleportfolio-title {
            line-height: 35px !important;
            margin-bottom: 10px !important;
            .transition(.3s);
            opacity: 0;
            .translate3d(0, 50px, 0) !important;
            .transition-delay(.15s) !important;
            a {
                color: #fff !important;
                .transition(.3s);
                &:hover {
                    opacity: .8;
                }
            }
        }
        .sp-simpleportfolio-tags {
            text-transform: uppercase;
            .transition(.5s);
            opacity: 0;
            .translate3d(0, 50px, 0) !important;
        }
        &:hover {
            .sp-simpleportfolio-title, .sp-simpleportfolio-tags {
                .translate3d(0, 0, 0) !important;
                opacity: 1;
            }
            .sp-simpleportfolio-tags {
                .transition-delay(.30s) !important;
            }
        }
    }
}
.sp-simpleportfolio .sp-simpleportfolio-item .sp-vertical-middle {
    height: 100%;
    width: 100%;
    display: table;
}
.sppb-addon-cta .sppb-row {
    display: table;
    width: 100%;
}
.sppb-testimonial-message:before {
    position: absolute;
    content: "\f10d";
    font-family: fontAwesome;
    top: 10px;
    left: 20px;
    color: @major_color;
    font-size: 40px;
    width: 50px;
    height: 50px;
    line-height: 97px;
    transition: all 100ms ease-out;
}
.sppb-testimonial-pro .sppb-carousel-control {
    position: relative;
    margin: 1px 0 0 0;
    border: none;
    font-size: 22px;
    color: @major_color;
    line-height: 50px;
    text-align: center;
    border-radius: 1px;
    outline: none;
    transition: all 100ms ease-out;
    &:hover {
      background: rgba(0,0,0,0);
      color: darken(@major_color, 10%);
    }
}
#sp-page-builder .sppb-section-title.sppb-text-center .sppb-title-subheading {
    text-transform: uppercase;
}
.sppb-testimonial-pro .sppb-testimonial-message {
    font-size: 18px;
    line-height: 26px;
    position: relative;
    max-width: 700px;
    margin: 0 auto;
    padding: 40px 40px 40px 90px;
    font-size: 16px;
    line-height: 2;
}
.pro-client-name {
    color: #acb4b6;
    font-weight: 300;
    text-transform: uppercase;
}
//BLog section
.layout-blog {
    #sp-main-body {
        article.item {
            margin-bottom: 50px;
            border-bottom: 1px solid #ededed;
            overflow: hidden;
            margin: 0 0 40px 0;
            background: #fff;
            .article-info {
                margin: 0 -8px 5px;
                line-height: 12px;
            }
            .post-format {
                background: @text_color;
                border-radius: 0;
            }
            .article-info >dd {
                font-weight: 400;
            }
        }
        .blog p {
            position: relative;
            z-index: 15;
            padding: 0px;
        }
    }
    .sp-module .latestnews >div >a {
        padding: 10px;
    }
    .latestnews small {
        display: none;
    }
    .class2 .sp-module .sp-module-title {
        text-transform: uppercase;
        padding: 15px;
        color: #fff;
        background: #444;
        border-left: 6px solid @major_color;
    }
    .class2 .sp-module-content {
        padding: 10px;
        background: #fff;
        border: 1px solid #dddddd;
    }
}
.readmore .btn {
    border: 2px solid #969696;
    color: #969696;
    background: rgba(0,0,0,0);
    font-weight: 400;
    &:hover,&:focus {
      box-shadow: none;
      background: rgba(0,0,0,0);
      color: @major_color;
      border: 2px solid @major_color;
    }
}
.view-article #sp-main-body {
    background-color: #f2f2f2;
    .item.item-page {
        margin-bottom: 50px;
        border-radius: 0;
        border: 1px solid #f2f2f2;
        overflow: hidden;
        margin: 0 0 40px 0;
        background: #fff;
        padding: 20px;
    }
}

.class2 #mod-search-searchword {
    float: none !important;
}
#sp-bottom .sp-module ul >li >a:before {
    display: none !important
}
#sp-bottom .sp-module ul >li >a {
    line-height: 25px !important;
}
#sp-bottom .sp-module ul >li {
    border-bottom: none;
}
#bg-overlay:before {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(0, 9, 29, 0.9);
}
#bg-overlay {
    position: relative;
}

//Pagination
.pagination>li>a, .pagination>li>span {
    color: #242424;
    height: 40px;
    line-height: 40px;
    margin: 0 10px 0 0;
    padding: 0;
    display: inline-block;
    text-align: center;
    width: 40px;
    border: 1px solid #e4e4e4;
    &:hover, &:focus {
      border: 1px solid @major_color;
      background: @major_color;
      color: #fff !important;
    }
}
.pagination>li:first-child>a, .pagination>li:first-child>span,
.pagination>li:last-child>a, .pagination>li:last-child>span {
  border-radius: 0 !important;
}
.pager {
  [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: 'IcoMoon' !important;
  }
}
#sp-bottom {
  .sp-module .latestnews >div {
    border-bottom: none;
    a {
      color: #b2b2b2;
    }
    small {
      display: none;
    }
  }
  .sp-module .sp-module-title {
    position: relative;
    text-transform: uppercase;
    font-size: 17px;
    padding: 0px 0px 25px 0px;
    &:before {
      width: 35px;
      height: 3px;
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      background-color: #fde428;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
}
}
}
//Login form
.view-registration,
.view-login {
  .login,
  .registration {
      position: relative;
      padding: 33px 25px 29px;
      background: #FFFFFF;
      border-bottom: 1px solid #C4C4C4;
      border-radius: 0px;
      -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  }
}

.pager .previous>a,
.pager .previous>span {
    float: left;
    text-transform: uppercase;
}
.pager li>a,
.pager li>span {
    border-radius: 0;
    background: @major_color;
    color: #fff;
}
.pager li>a:hover,
.pager li>a:focus,
.pager li>a:active {
    background: darken(@major_color, 10%);
    color: #fff;
}
//Tab-content
.sppb-addon-tab .sppb-nav-tabs {
    border-bottom: none;
}
.sppb-addon-tab .sppb-nav-tabs li {
    padding-left: 30px;
    margin-bottom: 0;
    border-right: 1px solid #e9e9e9;
    &:last-child {
        border-right: none;
    }
    &:first-child {
        padding-left: 0;
    }
}
.sppb-addon-tab .sppb-nav-tabs li > a {
    font-size: 16px;
    font-weight: 500;
    padding: 0 0 15px 0;
    color: #a8a8a8;
    border: 0;
    border-radius: 0;
}
.sppb-addon-tab .sppb-nav-tabs li > a:hover,
.sppb-addon-tab .sppb-nav-tabs li > a:focus {
    background-color: transparent;
    border: none;
    outline: none;
}
.sppb-addon-tab .sppb-nav-tabs li.active > a {
    color: @major_color;
}
.sppb-addon-tab .sppb-tab-pane {
    padding: 20px 0;
}
.sppb-addon-tab .sppb-tab-pane >div p {
    padding-right: 20px;
    float: left;
    color: #a8a8a8;
}
.sppb-addon-tab .sppb-nav-tabs li > a {
    display: inline-block;
    padding: 5px 0;
    position: relative;
    margin-right: 40px;
    cursor: pointer;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}
.tab-content .content-image img {
    width: 100%;
}
.tab-content .content-detail .separator {
    margin: 40px 0 0 0;
}
.tab-content .content-detail .separator:first-child {
    margin: 30px 0 0 0;
}
.tab-content .content-detail .title {
    text-align: left;
}
.tab-content .content-detail .nav {
    padding-left: 40px;
    margin-top: 15px;
}
.tab-content .content-detail .nav li {
    margin-bottom: 10px;
    text-align: left;
}
.tab-content .content-detail .nav li:after {
    content: "\f05d";
    font-family: 'FontAwesome';
    font-size: 18px;
    position: absolute;
    left: -40px;
    color: @major_color;
    top: -1px;
}

#sp-quickcontact-form input[type="text"],
#sp-quickcontact-form input[type="password"],
#sp-quickcontact-form input[type="email"],
#sp-quickcontact-form textarea#message {
    width: 100%;
}
#sp-quickcontact-form textarea#message {
    min-height: 135px;
}
//K2 login and header fix
.kprofilebox input[type="text"],
.kprofilebox input[type="password"] {
    display: inherit;
}
#Kunena .kbutton {
    background-color: @major_color;
    &:hover {
        outline: none;
        background-color: lighten(@major_color, 10%);
    }
}
#Kunena .button,
#Kunena .kbutton {
    padding: 5px 15px !important;
    outline: none;
}
#Kunena img {
    max-width: none !important;
    display: inline-block !important;
}
#Kunena .kfile-hide input {
    color: #fff !important;
}
#Kunena td.kprofileboxcnt ul.kprofilebox-welcome li input.kbutton {
    cursor: pointer;
    background: @major_color;
    &:hover, &:focus {
        background-color: lighten(@major_color, 10%);
    }
}
#Kunena #jumpto .inputbox.fbs {
    display: inline-block;
    top: 2px !important;
    padding: 3px 2px !important;
}
#Kunena .inputbox {
    padding: 2px 0;
}
.com-kunena {
  .tip {
    background: #333 !important;
    padding: 10px;
    color: #fff;
}
}

.feature-post .feature {
	position: relative;
}
.feature-post .feature p.image {
	overflow: hidden;
	margin: 0;
}
.feature-post .feature p.image a {
	display: inline-block;
	width: 100%;
}
.feature-post .feature p.image img {
	width: 100%;
	-webkit-transition: all .3s ease-out;
	   -moz-transition: all .3s ease-out;
		-ms-transition: all .3s ease-out;
		 -o-transition: all .3s ease-out;
			transition: all .3s ease-out;
}
.feature-post .feature h3 {
	position: absolute;
	margin: 0;
	padding: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	font-size: 18px;
	color: #fff;
}
.feature-post .feature h3 a {
	display: block;
	padding: 16px 20px;
	letter-spacing: 0.3px;
	color: #fff;
	background-color: fadeout(@major_color, 10%);
}
.feature-post .feature:hover h3 a {
	background-color: fadein(@major_color, 10%);
	color: #fde428;
}
.feature-post .feature:hover p.image img {
	background-color: rgba(46,87,151,1);
	-webkit-transform: scale(1.2);
	   -ms-transform: scale(1.2);
		   transform: scale(1.2);
}
@media only screen and (max-width: 767px) {
.feature-post .feature {
    margin-bottom: 15px;
}
}
.icon-box {
	margin-bottom: 52px;
	cursor: crosshair;
}
.icon-box i {
	position: relative;
	top: 2px;
	font-size: 55px;
	float: left;
	color: @major_color;
	-webkit-transition: all .3s ease-out;
	   -moz-transition: all .3s ease-out;
		-ms-transition: all .3s ease-out;
		 -o-transition: all .3s ease-out;
			transition: all .3s ease-out;
}
.icon-box:hover i {
	-webkit-transform: rotateY(-180deg);
		-ms-transform: rotateY(-180deg);
			transform: rotateY(-180deg);
}
.icon-box .text {
	padding-left: 84px;
}
.icon-box .text h3 {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 19px;
}
.icon-box02 {
	text-align: center;
}
.icon-box02 h3 {
	margin-top: 35px;
	font-size: 18px;
	font-weight: 600;
}
.icon-box02 i {
	display: inline-block;
	width: 100px;
	height: 100px;
	padding-top: 30px;
	font-size: 40px;
	text-align: center;
	background-color: #efefef;
	color: @major_color;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
			border-radius: 50%;
	-webkit-transition: all .3s ease-out;
	   -moz-transition: all .3s ease-out;
		-ms-transition: all .3s ease-out;
		 -o-transition: all .3s ease-out;
			transition: all .3s ease-out;
}
.icon-box02:hover i {
	background: #fde428;
	color: #fff;
	-webkit-transform: rotateY(-180deg);
		-ms-transform: rotateY(-180deg);
			transform: rotateY(-180deg);
}
.icon-box02 .text {
	padding: 0 20px;
}
.icon-box02 .text h3 {
	margin-bottom: 13px;
}
.icon-box02 .morelink a {
	display: inline-block;
	position: relative;
	margin-top: 14px;
	padding-right: 15px;
	font-size: 14px;
}
.icon-box02 .morelink a:after {
	content: '\f3d3';
	position: absolute;
	right: 0;
	top: 0;
	font-family: 'Ionicons';
	font-weight: 600;
}
.service-box {
  [class^="icon-"], [class*=" icon-"] {
    width: initial !important;
    line-height: 24px;
    height: inherit;
    display: inherit;
}
}

.about .sppb-image-content-title {
  font-size: 40px;
  font-weight: bold;
}
.intro-text {
    display: block;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.3px;
    color: @major_color;
    margin-top: 14px;
}

/*==========testimonial==========*/
.testimonial-box {
	list-style: none;
	padding-top: 82px;
	padding-bottom: 55px;
}
.testimonial-box .wrapper {
	margin: 0 -16px;
}
.testimonial {
	padding: 33px 0;
	list-style: none;
}
.testimonial.owl-carousel .owl-item .item {
	margin: 0 16px;
}
.testimonial .image {
	float: left;
	width: 27%;
	margin: 0;
}
.testimonial .text {
	display: inline-block;
	position: relative;
	top: -2px;
	float: right;
	width: 69%;
	padding-left: 4px;
	font-size: 15px;
	line-height: 28px;
}
.testimonial .text span.name {
	display: block;
	margin-top: 32px;
	font-size: 18px;
	font-weight: 600;
	color: @major_color;
}
.testimonial .text span.position {
	display: block;
	font-size: 13px;
}

//ACY
.acy-bg {
  background: @major_color !important;
}
.acyfield_email .inputbox {
    height: 54px;
}

.more-info h3 {
	font-size: 35px;
	font-weight: 600;
	color: #fff;
}
.more-info p {
	font-size: 16px;
	color: #fff;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	opacity: 0.5;
}
.more-info input[type="email"] {
	width: 342px;
	font-size: 12px;
	font-weight: 400;
	margin-right: 132px;
	-webkit-border-radius: 3px 0 0 2px;
	   -moz-border-radius: 3px 0 0 2px;
			border-radius: 3px 0 0 2px;
}
.more-info input[type="submit"] {
	position: absolute;
	right: 15px;
  height: 54px;
	text-transform: capitalize;
	border: none;
	display: inline-block;
	vertical-align: middle;
	outline: none;
	background-color: #fde428;
	font-size: 14px;
	font-weight: 700;
	color: #333;
  &:hover, &:focus {
    outline: none;
    box-shadow: none !important;
  }
}
.acy-mail {
    margin-top: 30px;
}
.more-info input[type="submit"]:hover {
	color: #fff;
}
table.acymailing_form {
    margin: inherit;
}
//Footer
.f1 .footer-logo {
	margin: 17px 0 34px 4px;
}
.f1 .description {
	font-weight: 500;
	letter-spacing: 0.4px;
	margin-bottom: 32px;
}
.f1 .footer-info p.phone {
	padding-left: 35px;
	font-size: 20px;
	font-weight: 500;
	left: 24px;
	color: @major_color;
	background: url(../images/icon-phone.png) no-repeat 0 0;
}
.f1 .footer-info p.phone span {
	display: block;
	font-size: 14px;
	font-style: italic;
	color: #757575;
}

.f2 i {
    display: inline-block;
    position: relative;
    top: 2px;
    width: 10px;
    margin-right: 22px;
    font-size: 19px;
}
.f3 {
  .ourservices li {
  	position: relative;
  	padding-left: 18px;
  	margin-bottom: 10px;
  	font-weight: 400;
  	letter-spacing: 0.1px;
  }
  .ourservices li:before {
  	content: "\f363";
  	position: absolute;
  	left: 0;
  	top: 2px;
  	font-family: "Ionicons";
  	font-size: 19px;
  }
}

.f4 {
   span {
	display: block;
	margin-bottom: 23px;
}
 p {
	margin-bottom: 12px;
}
}

//Side menu
/* sidebar-nav */
.sidebar-nav {
	margin-bottom: 40px;
}
.sidebar-nav ul {
	padding: 0;
	list-style: none;
}
.sidebar-nav ul li a {
	display: block;
	padding: 15px 20px 11px 20px;
	margin-bottom: 2px;
	color: #333;
	font-weight: 700;
	background-color: #f0f0f0;
}
.sidebar-nav ul li a.active {
	padding-left: 16px;
	border-left: 4px solid @major_color;
}
.sidebar-nav ul li a:hover {
	background-color: #f9f9f9;
}

h2.title.center:after {
    left: 50%;
    margin-left: -25px;
}
h2.title:after {
    width: 50px;
    height: 5px;
    position: absolute;
    content: "";
    bottom: -25px;
    left: 0;
    background-color: #fde428;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
h2.title.center {
    text-align: center;
}
h2.title {
    position: relative;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 60px;
}
/* Page About
-------------------------------------------------------------- */
.page-about h2.title-post {
	font-size: 20px;
	font-weight: 700;
	margin-top: 22px;
	margin-bottom: 13px;
}
.page-about p {
	margin-bottom: 15px;
}
.page-about ul {
	list-style: none;
	margin-bottom: 54px;
}
.page-about ul li {
	margin-bottom: 10px;
}
.page-about ul li span {
	float: left;
	width: 11%;
	font-size: 20px;
	font-weight: 700;
	margin-top: 1px;
	color: #333;
}
.page-about ul li div {
	position: relative;
	float: right;
	width: 89%;
	padding-left: 44px;
	padding-bottom: 49px;
}
.page-about ul li div:before {
	content: "";
	position: absolute;
	left: -6px;
	top: 18px;
	width: 1px;
	height: 95%;
	background-color: #e3e3e3;
}
.page-about ul li div:after {
	content: "";
	position: absolute;
	left: -11px;
	top: 3px;
	width: 11px;
	height: 11px;
	background-color: @major_color;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
			border-radius: 50%;
}
.page-about ul li div h3 {
	font-size: 20px;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 11px;
	color: #333;
}

.brochure {
	margin-bottom: 42px;
	padding: 28px 18px 14px 24px;
	border: 1px solid #ccc;
	font-size: 13px;
}
.brochure h3 {
	margin-top: 0;
	margin-bottom: 9px;
	font-size: 18px;
	font-weight: 600;
}
.brochure p {
	margin-bottom: 18px;
}
.page-service .brochure p {
	margin-bottom: 18px;
}
.brochure .btn-brochure {
	margin-bottom: 20px;
}
 .brochure .btn-download a {
	position: relative;
	width: 97%;
	margin-bottom: 0;
	padding: 12px 19px 9px;
	font-weight: 300;
	letter-spacing: 0.2px;
}
.brochure .btn-download a:after {
	background: url(../images/icon_pdf_white.png) no-repeat;
	content: "";
	width: 30px;
	height: 30px;
	position: absolute;
	top: 15px;
	right: 3px;
}
.btn-cons a {
	position: relative;
	display: inline-block;
	padding: 13px 30px;
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	background-color: @major_color;
	color: #fff;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
			border-radius: 4px;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
		-ms-transition: all 0.3s;
		 -o-transition: all 0.3s;
			transition: all 0.3s;
}
.btn-cons a:hover {
	background-color: #133974;
	color: #fff;
}
/* testimonials-sidebar */
.testimonials-sidebar {
	position: relative;
	padding: 28px 24px 24px 24px;
	border: 1px solid #ccc;
}
.testimonials-sidebar:after {
	position: absolute;
	bottom: 16px;
	right: 6px;
	content: '\f11d';
	font-family: 'Ionicons';
	color: #e5e5e5;
	font-size: 60px;
}
.testimonials-sidebar h3 {
	margin-top: 0;
	margin-bottom: 8px;
	font-size: 18px;
	font-weight: 600;
	color: #333;
}
.testimonial03 .text {
	font-size: 13px;
}
.testimonial03 .media {
	position: relative;
	margin-top: 22px;
}
.testimonial03 .media img {
	position: absolute;
	left: 0;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
			border-radius: 50%;
}
.testimonial03 .media span {
	display: inline-block;
	min-height: 50px;
	padding-left: 65px;
	font-weight: 600;
	color: @major_color;
}
.testimonial03 .media span em {
	font-size: 12px;
	font-style: italic;
	font-weight: 300;
	color: #b3b3b3;
	display: block;
	position: relative;
	top: -3px;
}

/* Page Team
-------------------------------------------------------------- */
.page-team {
	margin-bottom: 50px;
}
.page-team .sidebar {
	margin-top: 70px;
}
.teammember {
	margin: 0 -15px;
}
.teammember article,
.teammember.three-cols article {
	width: 33.3333%;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 42px;
}
.teammember.two-cols article {
	width: 50%;
}
.teammember.four-cols article {
	width: 25%;
}
.teammember article h3 {
	margin-bottom: 0;
	font-size: 18px;
	font-weight: 600;
	color: @major_color;
}
.teammember article .media img {
	width: 100%;
}
.teammember article span {
	display: inline-block;
	margin-bottom: 17px;
	font-style: italic;
}
.teammember article .description {
	margin-bottom: 5px;
}
.teammember article .readmore a {
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0;
	position: relative;
	background: none;
	color: #333;
}
.teammember article .readmore a:hover {
	color: #5a5a5a;
}
.teammember article .readmore a i {
	position: relative;
	top: 2px;
	margin-left: 9px;
	font-size: 20px;
}
.teammember.list article {
	width: 100%;
	margin-bottom: 30px;
}
.teammember.list article:last-child {
	margin-bottom: 38px;
}
.teammember.list article .media {
	width: 31%;
	float: left;
	margin-right: 30px;
}
.teammember.list article h3 {
	margin-top: 2px;
}
.teammember.list article .readmore a {
	display: inline-block;
	margin-top: 22px;
	font-size: 13px;
	font-weight: 500;
	color: #fff;
	background-color: #333;
	padding: 11px 20px 5px;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;
}
.teammember.list article .readmore a:hover {
	background-color: @major_color;
}
.teammember.list article .readmore a i {
	display: none;
}

@media only screen and (max-width: 767px) {
.teammember article, .teammember.three-cols article {
    width: 50%;
}
}
@media only screen and (max-width: 479px) {
.teammember article, .teammember.three-cols article {
    width: 100%;
}
}
.page-services article {
	margin-bottom: 72px;
}
.page-services article .media img {
	width: 100%;
}
.page-services article h3 {
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 0.1px;
	margin-top: 30px;
	margin-bottom: 13px;
}
