.tp-caption.arrowicon,.arrowicon{line-height:1px;font-size:32px;font-family:Tahoma,Geneva,sans-serif;background-color:transparent;text-decoration:none;border-width:0px;border-color:rgb(34,34,34);border-style:none}

.arrowicon,.arrowicon{line-height:1px;font-size:32px;font-family:Tahoma,Geneva,sans-serif;background-color:transparent;text-decoration:none;border-width:0px;border-color:rgb(34,34,34);border-style:none}